<div class="scrollable eatery-menu-page" ng-if="!indexCtrl.isLogged()" ng-controller="VoucherController as voucherCtrl">
    <div class="scrollable-header foodee-navbar">
        <div class="col-xs-6 col-xs-offset-3 title">
            <div>Vouchers</div>
        </div>
    </div>
    <div class="scrollable-content">
        <div style="min-height:1vh;"></div>

        <div class="row">
            <div class="image-menu">
                <a href="#/vouchers/list/all">
                    <img src="images/voucher/All_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">All Vouchers</span>
                        <!--<span class="fb-image-inside-label">{{voucherCtrl.loggedIn}}</span>-->
                    </h4>
                </a>
            </div>
        </div>


        <div class="row" ng-if="voucherCtrl.loggedIn">
            <div class="image-menu">
                <a href="#/vouchers/list/recommended">
                    <img src="images/voucher/My_Recommended.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Recommended Vouchers</span>
                    </h4>
                </a>
            </div>
        </div>
        <div class="row" ng-if="!voucherCtrl.loggedIn">
            <div class="image-menu">
                <a ng-click="voucherCtrl.notLogged()">
                    <img src="images/voucher/My_Recommended.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Recommended Vouchers</span>
                    </h4>
                </a>
            </div>
        </div>

        <div class="row" ng-if="voucherCtrl.loggedIn">
            <div class="image-menu">
                <a href="#/vouchers/list/my">
                    <img src="images/voucher/My_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">My Vouchers</span>
                        <!--<span class="number badge badge-important pull-right">50</span>-->
                    </h4>
                </a>
            </div>
        </div>
        <div class="row" ng-if="!voucherCtrl.loggedIn">
            <div class="image-menu">
                <a ng-click="voucherCtrl.notLogged()">
                    <img src="images/voucher/My_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">My Vouchers</span>
                        <!--<span class="number badge badge-important pull-right">50</span>-->
                    </h4>
                </a>
            </div>
        </div>

        <div class="row" ng-if="voucherCtrl.loggedIn">
            <div class="image-menu">
                <a href="#/vouchers/list/unused">
                    <img src="images/voucher/Unused_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Unused Vouchers</span>
                    </h4>
                </a>
            </div>
        </div>
        <div class="row" ng-if="!voucherCtrl.loggedIn">
            <div class="image-menu">
                <a ng-click="voucherCtrl.notLogged()">
                    <img src="images/voucher/Unused_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Unused Vouchers</span>
                    </h4>
                </a>
            </div>
        </div>

        <div class="row" ng-if="voucherCtrl.loggedIn">
            <div class="image-menu">
                <a href="#/vouchers/list/missed">
                    <img src="images/voucher/Expired_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Vouchers you Missed</span>
                    </h4>
                </a>
            </div>
        </div>
        <div class="row" ng-if="!voucherCtrl.loggedIn">
            <div class="image-menu">
                <a ng-click="voucherCtrl.notLogged()">
                    <img src="images/voucher/Expired_Vouchers.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Vouchers you Missed</span>
                    </h4>
                </a>
            </div>
        </div>

        <div class="row" ng-if="voucherCtrl.loggedIn">
            <div class="image-menu">
                <a href="#/vouchers/list/saving">
                    <img src="images/voucher/Potential_Savings.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Potential Savings</span>
                    </h4>
                </a>
            </div>
        </div>
        <div class="row" ng-if="!voucherCtrl.loggedIn">
            <div class="image-menu">
                <a ng-click="voucherCtrl.notLogged()">
                    <img src="images/voucher/Potential_Savings.png"/>
                    <h4 class="eateries-label">
                        <span class="fb-image-inside-label">Potential Savings</span>
                    </h4>
                </a>
            </div>
        </div>
    </div>
</div>
