<section id="profile-section"
         class="app-body section container-fluid privacy scrollable"
         xmlns="http://www.w3.org/1999/html" ng-controller="SettingsController as ctrl">

    <div class="scrollable-header">
        <div class="col-xs-12 secondary-top-tab-scroll">
            <ul class="nav nav-tabs tabbable">
                <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}" data-toggle="tab">Profile</a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}" data-toggle="tab">Address</a>
                </li>
                <li ui-class="{'active': activeTab == 3}">
                    <a ui-set="{'activeTab': 3}" data-toggle="tab">Origin</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="scrollable-content foodee-form">
        <div ui-if="activeTab == 1" class="col-xs-12 p-0 con">
            <div class="col-xs-12 p-0">
                <div class="form-group col-xs-6 padded centered text-center" style="padding: 3vw 0vw;">
                    <img id="main-image" class="img-thumbail img-circle" ng-src="{{ ctrl.user.mainImage }}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="form-group col-xs-6 padded centered">
                    <div class="change text-center">
                        <a class="change-photo btn" ng-click="ctrl.selectPicture('main-image')">Change Photo</a>
                        <!--<a class="change-photo btn" ng-click="eatCtrl.selectPicture('image-thumbnail','main-image')">Remove Photo</a>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 p-0">
                <div class="alert alert-success caps p-2 f-3p5" role="alert">
                    PERSONAL DETAILS
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">First Name</p>
                    <input type="text" id="first-name" ng-model="ctrl.user.firstName" class="form-control Fname"
                           placeholder="First Name" maxlength="50" ng-focus="ctrl.removeError('Fname')"/>
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Last Name</p>
                    <input type="text" class="form-control Lname" ng-model="ctrl.user.lastName" placeholder="Last Name"
                            maxlength="50"  ng-focus="ctrl.removeError('Lname')"/>
                </div>
                <!--<div class="form-group">
                    <input type="email" class="form-control" ng-model="ctrl.user.email" placeholder="e-mail id"/>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" ng-model="ctrl.user.firstName" placeholder="mobile number"/>
                </div>-->
            </div>
            <div class="col-xs-12">
                <div class="form-group col-xs-3 form-label p-b-0">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">D.o.B</p>
                </div>
                <div class="form-group col-xs-9 p-t-0 option-selector" style="max-height: 15vw;">
                    <div class="pull-left dob-select" style="width: 100%;">
                        <input class="btn btn-primary f-3p8 dob" type="date" ng-model="ctrl.dateOfBirth"
                               max="2016-12-31" placeholder="DD/MM/YYYY" ng-focus="ctrl.removeError('dob')"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">About Me</p>
                    <textarea class="form-control" placeholder="about me" ng-model="ctrl.user.aboutMe" rows="3"></textarea>
                </div>
            </div>
            <!--<div class="col-xs-12">
                <div class="form-group col-xs-3">
                    Gender
                </div>
                <div class="form-group col-xs-9 option-selector">
                    <div class="buttons pull-left" style="width: 100%;">
                        <label class="btn btn-primary pull-left f-3p8" style="max-width: 20vw;" ng-model="ctrl.user.gender" btn-radio="'Male'">
                            <i class="fa fa-male"></i> Male
                        </label>
                        <label class="btn btn-primary m-l-3 pull-left f-3p8" style="max-width: 25vw;" ng-model="ctrl.user.gender" btn-radio="'Female'">
                            <i class="fa fa-female"></i> Female
                        </label>
                    </div>
                </div>
            </div>-->
            <div class="col-xs-12 main form-group text-center">
                <ul>
                    <li>
                        <a class="btn-red btn save-btn" ng-click="ctrl.saveUserProfile()">Save</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-if="activeTab == 2" class="col-xs-12 p-0 con">
            <div class="col-xs-12 p-0">
                <div class="alert alert-success caps p-2 f-3p5" role="alert">
                    ADDRESS
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Country</p>
                    <input type="text" class="form-control current-country" ng-model="ctrl.user.currentLocationCountry" placeholder="Country"
                           maxlength="50" ng-focus="ctrl.removeError('current-country')"/>
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">State</p>
                    <input type="text" class="form-control current-state" ng-model="ctrl.user.currentLocationState" placeholder="State"
                           maxlength="50" ng-focus="ctrl.removeError('current-state')"/>
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">City</p>
                    <input type="text" class="form-control current-city" ng-model="ctrl.user.currentCity" placeholder="Current City"
                           ng-focus="ctrl.removeError('current-city')"/>
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Locality</p>
                    <input type="text" class="form-control" ng-model="ctrl.user.locality" placeholder="Locality" />
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Postcode / Zipcode</p>
                    <input type="tel" class="form-control" ng-model="ctrl.user.pincode" placeholder="Postcode/Zipcode"/>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Address1</p>
                    <textarea class="form-control" ng-model="ctrl.user.addressLine1" placeholder="Address 1" rows="3"></textarea>
                </div>
            </div>
            <div class="col-xs-12">
                <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Address2</p>
                <div class="form-group">
                    <textarea class="form-control" ng-model="ctrl.user.addressLine2" placeholder="Address 2" rows="3"></textarea>
                </div>
            </div>
            <div class="col-xs-12 main form-group text-center">
                <ul>
                    <li>
                        <a class="btn-red btn save-btn" ng-click="ctrl.saveUserAddress()">Save</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-if="activeTab == 3" class="col-xs-12 p-0 con">
            <div class="col-xs-12 p-0">
                <div class="alert alert-success caps p-2 f-3p5" role="alert">
                    ORIGIN
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">Country of Origin</p>
                    <input type="text" class="form-control origin-country" ng-model="ctrl.user.countryOfOrigin" placeholder="Country Of Origin"
                           maxlength="50" ng-focus="ctrl.removeError('origin-country')"/>
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">State of Origin</p>
                    <input type="text" class="form-control origin-state" ng-model="ctrl.user.stateOfOrigin" placeholder="State Of Origin"
                           maxlength="50" ng-focus="ctrl.removeError('origin-state')"/>
                </div>
                <div class="form-group">
                    <p class="l-h-10" style="margin-bottom: 0;color: #CB202D;">City of Origin</p>
                    <input type="text" class="form-control origin-city" ng-model="ctrl.user.cityOfOrigin" placeholder="City Of Origin"
                           ng-focus="ctrl.removeError('origin-city')"/>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <span class="show-password">Strictly Vegetarian?</span>
                    <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.vegetarian}" id="veg"
                               ng-model="ctrl.user.vegetarian" ng-change="ctrl.toggleType(ctrl.user.vegetarian)" style="float:right;"></ui-switch>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <span class="show-password">Eat Out/ Order from veg Eatery only</span>
                    <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.eatOnlyInVeg}" id="eatOut"
                               ng-model="ctrl.user.eatOnlyInVeg" ng-change="ctrl.toggleType(ctrl.user.eatOnlyInVeg)" style="float:right;"></ui-switch>
                </div>
            </div>
            <div class="col-xs-12 main form-group text-center">
                <ul>
                    <li>
                        <a class="btn-red btn save-btn" ng-click="ctrl.saveUserOrigin()">Save</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>