<section class="app-body section app-itemhomelist-innerpadding container-fluid eateries-list"
         ng-controller="RegisterController as ctrl">
    <div class="scrollable-header foodee-navbar">
        <div class="col-xs-2 p-0 pull-left to-the-top inherit-height">
        </div>
        <div class="col-xs-8 title">
            <div>Taste & Preferences</div>
        </div>
        <div class="p-0 col-xs-2 inherit-height">
        </div>
    </div>

    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
        <div class="scrollable-content foodee-form">
            <form name="addSpice" class="col-xs-12" style="padding: 0 0 5vw 0;">
                <input type="hidden" id="meal-info" value="true"/>
                <div class="col-xs-12 p-0">
                    <div class="alert caps f-3p5" role="alert">
                        Meal Preference
                    </div>
                </div>
                <div class="col-xs-12">
                    <div ng-dropdown-multiselect=""
                         class="multiselect Ecuisines"
                         options="ctrl.mealOptions"
                         selected-model="ctrl.user.mealOptions"
                         extra-settings="ctrl.multiSelectCuisineSettings"
                         translation-texts="ctrl.mealOptionLabels"
                         onclick="fMultiselect()" id="meal-options">
                    </div>
                    <!--<div class="form-group col-xs-12 option-selector p-b-0 p-t-0">
                        <select class="form-control select-box" name="mySelect">
                            <option value=''>Let us serve you better</option>
                        </select>
                    </div>-->
                </div>
                <div class="col-xs-12 p-0">
                    <div class="alert caps f-3p5" role="alert">
                        Favourite Cuisine
                    </div>
                </div>
                <div class="col-xs-12 form-group p-t-0" style="padding: 0 15px;">
                    <div ng-dropdown-multiselect=""
                         class="multiselect Ecuisines"
                         options="ctrl.cuisineTypes"
                         selected-model="ctrl.user.favoriteCuisines"
                         extra-settings="ctrl.multiSelectCuisineSettings"
                         translation-texts="ctrl.cuisineLabels"
                         onclick="fMultiselect()" id="cuisines">
                    </div>
                </div>
                <div class="col-xs-12 p-0">
                    <div class="alert caps f-3p5" role="alert">
                         Favourite Dish
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 p-t-0">
                        <input type="text" class="form-control" ng-model="ctrl.user.favouriteDish[0].dish" placeholder="I crave for it"/>
                    </div>
                    <div class="form-group col-xs-12 p-t-0">
                        <input type="text" class="form-control" ng-model="ctrl.user.favouriteDish[1].dish" placeholder="Just love this all the time"/>
                    </div>
                    <div class="form-group col-xs-12 p-t-0">
                        <input type="text" class="form-control" ng-model="ctrl.user.favouriteDish[2].dish" placeholder="My mouth waters with this one"/>
                    </div>
                </div>
                <div class="col-xs-12 p-0">
                    <div class="alert caps f-3p5" role="alert">
                        Alcohol Preference
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 option-selector p-b-0 p-t-0">
                        <select class="form-control select-box" ng-model="ctrl.user.alcoholPreference">
                            <option value=''>Choose one</option>
                            <option value='Yes'>Yes</option>
                            <option value='No'>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 p-0">
                    <div class="alert caps f-3p5" role="alert">
                        Number of times you eat out in a month
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-12 option-selector p-b-0 p-t-0">
                        <select class="form-control select-box" ng-model="ctrl.user.eatingOutOptions[0].id">
                            <option value=''>Choose one</option>
                            <option value='1'>1 to 5 times</option>
                            <option value='2'>6 to 10 times</option>
                            <option value='3'>11 to 20 times</option>
                            <option value='4'>Daily</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="update-button btn" ng-click="ctrl.mealUpdate()">Update</button>
                    <button class="update-button btn" ng-click="ctrl.successSkip()">Skip</button>
                </div>
            </form>
        </div>
    </div>
</section>