<section class="app-body section app-itemhomelist-innerpadding container-fluid privacy scrollable"
         xmlns="http://www.w3.org/1999/html" ng-controller="SettingsController as ctrl">

    <div class="scrollable-header foodee-navbar">
        <div class="col-xs-12 title"><div>Settings - Privacy</div></div>
    </div>

    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
        <div class="scrollable-content foodee-form">
            <div>
                <div class="col-xs-12 p-0">
                    <div class="alert alert-success caps p-2 f-3p5" role="alert">
                         PERSONAL
                    </div>
                </div>
                <div class="col-xs-12">
                    <P>Turn off or turn on your privacy for each item.</P>
                    <div class="col-xs-12 main">
                        <span class="show-password">Date of Birth</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.dateOfBirthIsPrivate}" id="dob"
                                   ng-model="ctrl.user.userAccountSettings.dateOfBirthIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.dateOfBirthIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Email ID</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.emailIsPrivate}" id="email"
                                   ng-model="ctrl.user.userAccountSettings.emailIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.emailIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Mobile Number</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.mobileNumberIsPrivate}" id="mobile"
                                   ng-model="ctrl.user.userAccountSettings.mobileNumberIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.mobileNumberIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Alcohol Preference</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.alcoholPreferenceIsPrivate}" id="alcohol"
                                   ng-model="ctrl.user.userAccountSettings.alcoholPreferenceIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.alcoholPreferenceIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Marital Status</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.maritalStatusIsPrivate}" id="marital"
                                   ng-model="ctrl.user.userAccountSettings.maritalStatusIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.maritalStatusIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                </div>
                <div class="col-xs-12 p-0">
                    <div class="alert alert-success caps p-2 f-3p5" role="alert">
                         FOOD INFORMATION
                    </div>
                </div>
                <div class="col-xs-12">
                    <P>Turn off or turn on your privacy for each item.</P>
                    <div class="col-xs-12 main">
                        <span class="show-password">Meal Preference</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.mealPreferenceIsPrivate}" id="meal"
                                   ng-model="ctrl.user.userAccountSettings.mealPreferenceIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.mealPreferenceIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Favourite Cuisine</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.favouriteCuisineIsPrivate}" id="cuisine"
                                   ng-model="ctrl.user.userAccountSettings.favouriteCuisineIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.favouriteCuisineIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Favourite Dish</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.favouriteDishIsPrivate}" id="dish"
                                   ng-model="ctrl.user.userAccountSettings.favouriteDishIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.favouriteDishIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Eating Out Options</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.eatingOutOptionsIsPrivate}" id="eating-out-options"
                                   ng-model="ctrl.user.userAccountSettings.eatingOutOptionsIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.eatingOutOptionsIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Recipes</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.myRecipesIsPrivate}" id="recipe"
                                   ng-model="ctrl.user.userAccountSettings.myRecipesIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.myRecipesIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main">
                        <span class="show-password">Eateries</span>
                        <ui-switch class="switch" ng-class="{'switchOn': ctrl.user.userAccountSettings.myEateriesIsPrivate}" id="eatery"
                                   ng-model="ctrl.user.userAccountSettings.myEateriesIsPrivate" ng-change="ctrl.toggleType(ctrl.user.userAccountSettings.myEateriesIsPrivate)" style="float:right;"></ui-switch>
                    </div>
                    <div class="col-xs-12 main form-group text-center">
                        <ul>
                            <li>
                                <a class="btn-red btn save-btn" ng-click="ctrl.savePrivacySettings()">Save</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>