<div class="section container-fluid scrollable" ng-controller="FrontController as front">
    <div class="scrollable-header foodee-navbar">
        <div class="p-0 col-xs-2 to-the-top inherit-height">
        </div>
        <div class="col-xs-8 title">
            <div>Why Foodeebuddee?</div>
        </div>
    </div>
    <div class="scrollable-content col-xs-12 about-block p-0">
        <div class="video" ng-if="front.video">
            <p ng-bind-html="front.videoContainer"></p>
        </div>
        <div class="col-xs-12 m-t-5 p-0">
            <div class="col-xs-6">
                <a ng-click="front.mainVideo()">
                    <img src="images/aboutus/Intro.jpg"/>
                </a>
                <h4>What is Foodeebuddee?</h4>
                <span>Think food, Click foodeebuddee.</span>
            </div>
            <div class="col-xs-6">
                <a ng-click="front.eateryVideo()">
                    <img src="images/aboutus/eatery.jpg"/>
                </a>
                <h4>Eateries</h4>
                <span>Recommending based on you, for you</span>
            </div>
        </div>
        <div class="col-xs-12 m-t-5 p-0">
            <div class="col-xs-6">
                <a ng-click="front.voucherVideo()">
                    <img src="images/aboutus/voucher.jpg"/>
                </a>
                <h4>Vouchers</h4>
                <span>Deals that can't be more personal.</span>
            </div>
            <div class="col-xs-6">
                <a ng-click="front.socialVideo()">
                    <img src="images/aboutus/social.jpg"/>
                </a>
                <h4>Social</h4>
                <span>Eat, Meet & Greet.</span>
            </div>
        </div>
        <div class="col-xs-12 m-t-5 p-0">
            <div class="col-xs-6">
                <a ng-click="front.lbVideo()">
                    <img src="images/aboutus/leaderboard.jpg"/>
                </a>
                <h4>Leaderboard</h4>
                <span>Create, Collect & Compete.</span>
            </div>
            <div class="col-xs-6">
                <a ng-click="front.recipeVideo()">
                    <img src="images/aboutus/recipe.jpg"/>
                </a>
                <h4>Recipe</h4>
                <span>Cook your way to become a Brand Ambassador.</span>
            </div>
        </div>
    </div>
</div>

