<section class="section container-fluid" ng-controller="SettingsController as settingsCtrl">
    <div class="scrollable-header foodee-navbar">
        <div class="p-0 col-xs-2 to-the-top inherit-height">
        </div>
        <div class="col-xs-8 title">
            <div>Change Password</div>
        </div>
    </div>

    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
        <div class="scrollable-content row feed-us-block">
            <div class="col-xs-12 text-center">
                <form class="feed-form" name="changePassword" ng-if="settingsCtrl.passwordChangable" style="margin-top: 37px;padding-top: 0px;display: inline-block;">
                    <div style="min-height:1vw;"></div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Current password" required
                               ng-model="settingsCtrl.data.password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control FPassword" placeholder="Cook up a password" required
                               ng-model="settingsCtrl.data.new_password" ng-blur="settingsCtrl.checkPasswordLength('FPassword')" ng-focus="settingsCtrl.removeError('FPassword')" maxlength="50"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Recook your password" required
                               ng-model="settingsCtrl.data.new_password_repeat"/>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn update-button btn-danger text-uppercase"
                                ng-click="settingsCtrl.reset()" ng-disabled="changePassword.$invalid">Change Password</button>
                    </div>
                </form>
                <div class="message" ng-if="!settingsCtrl.passwordChangable">
                    <hr/>
                    <div class="alert alert-info" role="alert">
                        You are not able to change your password since you used a social network to login :)
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>