<section id="login-screen-section"
         class="app-body forgot-pwd-block section app-itemhomelist-innerpadding container-fluid login scrollable"
         ng-controller="LoginController as loginCtrl" xmlns="http://www.w3.org/1999/html">
    <div class="scrollable-header foodee-navbar ">
        <div class="navbar-brand-center title">
            <div>FORGOT PASSWORD</div>
        </div>
    </div>
    <div class="scrollable-content">
        <form class="col-xs-12" ng-submit="loginCtrl.forgotPassword()">
            <div style="min-height:1vw;"></div>
            <div class="form-group">
                <p class="small-text">Please provide the email address associated with your foodeebuddee account.</p>
                <input type="text" class="form-control FEmail" ng-model="loginCtrl.data.email" placeholder="Email id"  autofocus="autofocus"
                       ng-blur="loginCtrl.neEmailValidation('FEmail')" ng-focus="loginCtrl.removeError('FEmail')"/>
            </div>
            <div class="form-group text-center m-t-2 m-b-3">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    </div>
</section>