<!--<div class="scrollable" ng-if="!indexCtrl.isLogged()">
    <div class="scrollable-content section">
        <div class="padding">&nbsp;</div>
        <hr/>
        <div class="row home">
            <div class="col-xs-6 col-xs-offset-3 home-menu-item">
                <div><a href="#/eateries"><img src="images/icons/Icon-Eateries.png"/></a></div>
                <div><a href="#/eateries" class="item">Eateries</a></div>
            </div>
        </div>
        <hr ng-if="indexCtrl.isRecipeActive" />
        <div class="row home" ng-if="indexCtrl.isRecipeActive">
            <div class="col-xs-6 col-xs-offset-3 home-menu-item">
                <div><a href="#/recipes"><img src="images/icons/Icon-Recipes.png"/></a></div>
                <div><a href="#/recipes" class="item">Recipes</a></div>
            </div>
        </div>
        <hr/>
        <div class="row home">
            <div class="col-xs-6 col-xs-offset-3 home-menu-item">
                <div><a href="#/vouchers/home"><img src="images/icons/Icon-Vouchers.png"/></a></div>
                <div><a href="#/vouchers/home" class="item">Vouchers</a></div>
            </div>
        </div>
        <hr/>
        <div class="row home">
            <div class="col-xs-6 col-xs-offset-3 home-menu-item">
                <div><a href="#/login"><img src="images/sidemenu-icons/social_hover.png"/></a></div>
                <div><a href="#/login" class="item">Social</a></div>
            </div>
        </div>
        <hr/>
    </div>
</div>-->
<div class="scrollable" ng-controller="LoginController as loginCtrl">
    <div class="scrollable eatery-menu-page">
        <div class="image-menu scrollable-content">
            <div style="min-height:1vh;"></div>
            <div class="row">
                <div class="image-container">
                    <a href="#/eateries">
                        <img src="images/launch/31.jpg"/>
                        <span class="img-menu-labels">Eateries</span>
                    </a>
                </div>
            </div>
            <div class="row" ng-if="indexCtrl.recipesActive">
                <div class="image-container">
                    <a href="#/recipes">
                        <img src="images/launch/32.jpg"/>
                        <span class="img-menu-labels">Recipes</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="image-container">
                    <a href="#/vouchers/home">
                        <img src="images/voucher/All_Vouchers.png"/>
                        <span class="img-menu-labels">Vouchers</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="image-container">
                    <a ng-click="loginCtrl.socialAction()">
                        <img src="images/launch/33.jpg"/>
                        <span class="img-menu-labels">Social</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="image-container">
                    <a ng-click="loginCtrl.recipeAction()">
                        <img src="images/launch/32.jpg"/>
                        <span class="img-menu-labels">Recipes</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

