<header>
  <div class="navbar navbar-app navbar-secondary navbar-fixed-top navbar-absolute-top">
    <nav class="row">
      <div class="col-xs-1 btn btn-navbar-secondary fa fa-navbar btn-navbar-secondary-pull-left">
        <!-- <div class="fa fa-arrow-left fa-navbar" ng-click="backHandler()"></div> -->
      </div>
      <div class="col-xs-10 btn-navbar-secondary secondary-title">{{secondaryNavModel.title}}
      </div>
    <!--
      <div class="col-xs-1 btn btn-navbar-secondary fa {{secondaryNavModel.leftBtn.icon}} fa-navbar btn-navbar-secondary-pull-right" ng-if="loggedIn">
      </div>
    -->
    </nav>
  </div>
  <!-- <div class="recipe-main-filter">
  <div id="homeViewFilter" class="navbar-collapse recipe-filter-nav" ng-if="ctrl.menuOpened">
    <span class="triangle-up"></span>
    <div class ="row">
      <div class="col col-xs-3 btn btn-navbar-secondary fa fa-arrow-left fa-navbar" ng-if="ctrl.subMenuSelected" ng-click="ctrl.backFromFilter()">
        Back
      </div>
      <div class="col col-xs-6 btn-navbar-secondary secondary-title">Filter
      </div>
      <div class="col col-xs-3 btn btn-navbar-secondary" ng-click="ctrl.fliterSelected()">
        Done
      </div>
    </div>
    <ul class="nav navbar-nav">
        <div class="reviewpopup" ng-repeat="overLayItem in ctrl.menu">
            <li ng-click="ctrl.menuItemTap($event,overLayItem)">
                <div ng-if="ctrl.mainMenuSelected">{{overLayItem.name}}</div>
                <div ng-if="ctrl.subMenuSelected">
                  <input type="checkbox" id="{{overLayItem.id}}" ng-model="overLayItem.value">{{overLayItem.name}}
                </div>
            </li>
        </div>
    </ul>
</div>
</div> -->
</header>
