<div class="navbar navbar-app navbar-fixed-bottom navbar-absolute-bottom home-viewlist-footer">
    <nav>
      <span class="btn btn-navbar pull-left">
        <i class="fa fa-trophy fa-navbar label-icon pull-left"></i>
        <span>
          <ul class="unstyled">
            <li class="label-height ratings-badge-label">Rank</li>
            <li class="label-height label-color">{{rankCount}}</li>
          </ul>
        </span>
      </span>
    <span class="btn btn-navbar pull-right label-margin">
      <span>
        <i class="fa  fa-certificate fa-navbar label-icon pull-left"></i>
        <span>
          <ul class="unstyled">
            <li class="label-height ratings-badge-label">Badge</li>
            <li class="label-height label-color">{{badgeValue}}</li>
          </ul>
        </span>
      </span>
    </nav>
  </div>
</div>