<section id="refcode-section"
         class="app-body section app-itemhomelist-innerpadding container-fluid login scrollable"
         ng-controller="LoginController as loginCtrl" xmlns="http://www.w3.org/1999/html">

    <div class="scrollable-header foodee-navbar ">
        <div class="navbar-brand-center title">
            <div>REFERRAL</div>
        </div>
    </div>
    <div class="row refcode-block m-t-5">
        <div class="col-xs-12 text-center">
            <div class="col-xs-8 p-0 text-center" ng-show="!loginCtrl.logged">
                <p><h5 style="font-size: 4vw;line-height: 5vw;padding-top: 4vw;">Please <a href="#/login">SIGN IN</a> to see your Referral Code</h5></p>
            </div>
            <div class="col-xs-8 p-0 text-center" ng-show="loginCtrl.logged" >
                <p>Your Referral Code is</p>
                <h4>{{loginCtrl.user.referralCode}}</h4>
                <p ng-click="loginCtrl.refCodeShare()"><i class="fa fa-share-alt"></i> share</p>
            </div>
            <div class="col-xs-4 p-0 text-right"><i class="fa fa-barcode"></i></div>
            <div class="col-xs-12 p-0" ng-show="loginCtrl.logged" >
                <p style="text-align: justify;">Get your buddees to sign up on foodeebuddee using your Referral Code and earn points.</p>
            </div>
        </div>
    </div>
</section>