<div class="modal rating-popup-block" style="padding-top: 0;" ui-if="modalOverAllRating" ui-state='modalOverAllRating'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="scrollable-header foodee-navbar">
                    <div class="p-0 col-xs-2 to-the-top inherit-height">
                    </div>
                    <div class="col-xs-8 title">
                        <div>Overall Rating</div>
                    </div>
                    <div class="p-0 col-xs-2 to-the-top inherit-height">
                        <div class="btn btn-navbar pull-right create-eatery-icon center-text">
                            <button ui-turn-off="modalOverAllRating" class="btn rating-close view-simple-rating-close"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row scrollable-content">
                    <div class="view-rating view-simple-rating" ng-repeat="rating in eatery.eateryRatings">
                        <div class="col-xs-12 p-0">
                            <div class="col-xs-6 p-0">
                                <span class="m-0 pull-left reduce-long-name" style="padding: 0 1vw;">{{rating.userAccount.fullname}}</span>
                                <p class="date-time pull-left">{{ rating.createdOn | date:'MMM d, y h:mm a' }}</p>
                            </div>
                            <div class="col-xs-6 p-0">
                                <rating class="rating-right pull-right rating-show" value="{{rating.ratingCount}}"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>