<div class="modal rating-block" ui-if="modalSimpleReview" ui-state='modalSimpleReview'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ui-turn-off="modalSimpleReview" class="btn rating-close pull-right"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 p-0">
                        <div class="form-group">
                            <textarea rows="4" class="form-control" ng-model="eateryCtrl.simpleReviewText"></textarea>
                        </div>
                        <p><button class="rate-submit" ng-click="eateryCtrl.submitSimpleReview()">Submit</button></p>
                        <a href="#/eateries/review/{{ eatery.id }}">Advance Review</a>
                    </div>
                </div>
                <div class="row" ng-if="eateryCtrl.busy">
                    <ng-include src=" 'list-loader.html' "></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>