<div class="scrollable social-list social-post-wrapper"
     ng-controller="SocialCheckinFinalController as checkinFinal">

    <div class="scrollable-header foodee-navbar">
        <div class="col-xs-4 p-0 pull-left to-the-top inherit-height">
            <div class="btn btn-navbar social-post-button center-text">
                <a class="foodee-navbar-button" ng-click="checkinFinal.cancel()">
                    <i class=" fa fa-times"></i>
                    <span class="navbar-label"> Cancel</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4 title">
            <div>Check-In</div>
        </div>
        <div class="col-xs-4 pull-right to-the-top inherit-height">
        </div>
    </div>

    <div class="scrollable-content">
        <section class="col-xs-12 p-0 eatery">
            <div class="main">
                <div class="text-center">
                    <img ng-src="{{checkinFinal.eatery.thumbImagePath}}"
                         fallback-src="images/eateries/default_eatery_view.jpg">
                </div>
                <div class="details">
                    <div class="col-xs-8 p-0">
                        <h4 class="name">{{checkinFinal.eatery.name}}</h4>
                        <p class="locality">{{checkinFinal.eatery.address.locality}}</p>
                    </div>
                    <div class="col-xs-4 p-0">
                        <!--<div class="overall-ratings">-->
                            <rating class="rating-right" value="{{checkinFinal.eatery.overAllRating}}"></rating>
                            <h5 class="main-heading ratings m-0">Overall Rating</h5>
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 checkin-address">
                <div class="address col-xs-7">
                    <h5 class="main-heading f-5 f-8bold">Address</h5>
                    <div>
                        <p class="doorNumber" ng-bind="checkinFinal.eatery.address.doorNumber"></p>
                        <p class="address1" ng-bind="checkinFinal.eatery.address.address1"></p>
                    </div>
                    <p class="city" ng-bind="checkinFinal.eatery.address.city"></p>
                    <p class="state" ng-bind="checkinFinal.eatery.address.state"></p>
                    <p class="country" ng-bind="checkinFinal.eatery.address.country"></p>
                    <p class="pincode" ng-bind="checkinFinal.eatery.address.pincode"></p>
                </div>
                <div class="col-xs-5 text-center" ng-click="checkinFinal.checkin()">
                    <div class="checkin-icon-lg">
                        <p class="center-block"><i class="fa fa-map-marker fa-2x" style="padding: 2vw;"></i></p>
                    </div>
                    <p class="text-uppercase p-0">Check-In</p>
                </div>
            </div>
            <div class="contacts view-list">
                <div class="mobile icon" ng-if="checkinFinal.eatery.address.mobile">
                    <a ng-href="tel:{{checkinFinal.eatery.address.isdCode}}{{checkinFinal.eatery.address.mobile}}"
                       ng-bind-template="{{checkinFinal.eatery.address.isdCode}}{{checkinFinal.eatery.address.mobile}}"
                       data-rel="external">
                    </a>
                </div>
                <div class="landline icon" ng-if="checkinFinal.eatery.address.landline">
                    <a ng-href="tel:{{checkinFinal.eatery.address.isdCode}}{{checkinFinal.eatery.address.landline}}"
                       ng-bind-template="{{checkinFinal.eatery.address.isdCode}}{{checkinFinal.eatery.address.landline}}"
                       data-rel="external">
                    </a>
                </div>
                <div class="fax icon" ng-if="checkinFinal.eatery.address.fax">
                    <a ng-href="tel:{{checkinFinal.eatery.address.isdCode}}{{checkinFinal.eatery.address.fax}}"
                       ng-bind-template="{{checkinFinal.eatery.address.isdCode}}{{checkinFinal.eatery.address.fax}}"
                       data-rel="external">
                    </a>
                </div>
                <div class="email icon" ng-if="checkinFinal.eatery.address.email">
                    <a ng-href="mailto:{{checkinFinal.eatery.address.email}}"
                       ng-bind="checkinFinal.eatery.address.email"
                       data-rel="external">
                    </a>
                </div>
            </div>
            <map center="{{checkinFinal.position(checkinFinal.eatery)}}" zoom="16">
                <marker position="{{checkinFinal.position(checkinFinal.eatery)}}"
                        animation="DROP"></marker>
            </map>
        </section>
    </div>


</div>