<div>
    <!--<div ng-if="item.userActivities == null">
        There are no activities item
    </div>-->
    <section class="row social-post">
        <!--Simple post-->
        <div class="all-comments-block" ng-show="item.dtype == 'simple_post'">
            <!--Post-->
            <div class="col-xs-12 p-0">
                <div class="col-xs-2 p-0">
                    <img class="profile-pic img-circle" ng-src="{{item.userAccount.thumbImagePath}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="col-xs-10 p-0">
                    <p class="u-name">{{item.userAccount.fullname}}</p>
                    <p class="date-time">{{ item.createdOn | date:'MMM d, y h:mm a' }}</p>
                </div>
            </div>
            <!--Comment-->
            <hr/>
            <p ng-show="!postEditing(item.id)" class="comments">{{item.comments}}</p>
            <div class="col-xs-12 p-0 comment-value" ng-show="postEditing(item.id)">
                <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                    <div class="form-group">
                        <textarea style="height: initial;" rows="3" class="form-control" ng-model="updatedPostContent"></textarea>
                    </div>
                </div>
            </div>
            <hr/>
        </div>

        <!--Eatery Post-->
        <div ng-show="item.dtype == 'eatery_post'">
            <!--Post-->
            <div class="col-xs-12 p-0">
                <div class="col-xs-2 p-0">
                    <img class="profile-pic img-circle" ng-src="{{item.userAccount.thumbImagePath}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="col-xs-10 p-0 post-type">
                    <p class="u-name" ng-if="item.postType == 'CREATE'">{{item.userAccount.fullname}} <span> created this Eatery</span></p>
                    <p class="u-name" ng-if="item.postType == 'LIKE'">{{item.userAccount.fullname}} <span> liked this Eatery</span></p>
                    <p class="u-name" ng-if="item.postType == 'FAVORITE'">{{item.userAccount.fullname}} <span> marked this Eatery as favourite</span></p>
                    <p class="u-name" ng-if="item.postType == 'SHARE'">{{item.userAccount.fullname}} <span> shared this Eatery</span></p>
                    <p class="u-name" ng-if="item.postType == 'RATING'">{{item.userAccount.fullname}} <span> rated this Eatery</span></p>
                    <p class="u-name" ng-if="item.postType == 'REVIEW'">{{item.userAccount.fullname}} <span> reviewed this Eatery</span></p>
                    <p class="u-name" ng-if="item.postType == 'CHECK_IN'">{{item.userAccount.fullname}} <span> checked into this Eatery</span></p>
                    <p class="u-name" ng-if="item.postType == 'EATERY_PHOTO'">{{item.userAccount.fullname}} <span> added photos to this Eatery</span></p>
                    <p class="date-time">{{ item.createdOn | date:'MMM d, y h:mm a' }}</p>
                </div>
            </div>
            <hr/>
            <div class="col-xs-12 p-0" ng-click="viewEatery(item.eatery.id)">
                <div class="col-xs-12 p-0 text-center">
                    <img class="" ng-src="{{item.eatery.thumbImagePath}}"
                         fallback-src="images/eateries/eatery_img_not_available.jpg"/>
                </div>
                <p class="eatery-name col-xs-12 p-0">{{item.eatery.name}}</p>
                <p class="eat-info col-xs-12 p-0" style="margin-top: -1vw;">{{item.eatery.address.city}}, {{item.eatery.address.country}}</p>
            </div>
            <div class="eat-info col-xs-12 p-0">
                <span class="sub-title">Cuisine</span>
                <span class="separator"> : </span>
                <span ng-repeat="cuisine in item.eatery.cuisines" ng-class="{'last':$last}">
                    <!--<span ng-show="{{$last}} == 'last'">, </span>-->
                    <span class="sub-val" ng-show="$first"> {{cuisine.name}}</span>
                    <span class="sub-val" ng-show="!$first">, {{cuisine.name}}</span>
                </span>
            </div>
            <div class="eat-info col-xs-12 p-0">
                <span class="sub-title">Eatery type</span>
                <span class="separator"> : </span>
                <span ng-repeat="type in item.eatery.eateryType">
                    <span class="sub-val" ng-show="$first"> {{type.name}}</span>
                    <span class="sub-val" ng-show="!$first">, {{type.name}}</span>
                </span>
            </div>
            <div class="eat-info col-xs-12 p-0" ng-show="item.eatery.price != 'NA'">
                <span class="sub-title">Price for 2</span>
                <span class="separator"> : </span>
                <span class="sub-val price-total m-0">{{item.eatery.currency.code}} {{item.eatery.price}}<span>
            </div>
            <hr/>
        </div>

        <!--Voucher Post-->
        <div ng-show="item.dtype == 'voucher_post'">
            <!--Post-->
            <div class="col-xs-12 p-0">
                <div class="col-xs-2 p-0">
                    <img class="profile-pic img-circle" ng-src="{{item.userAccount.thumbImagePath}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="col-xs-10 p-0 post-type">
                    <p class="u-name" ng-show="item.postType == 'USED'">{{item.userAccount.fullname}} <span>used this voucher</span></p>
                    <p class="u-name" ng-if="item.postType == 'SHARE'">{{item.userAccount.fullname}}
                        <span>Hey buddees check out this deal!</span>
                    </p>
                    <p class="u-name" ng-if="item.postType == 'LIKE'">{{item.userAccount.fullname}} <span> loves this deal</span></p>
                    <p class="u-name" ng-if="item.postType == 'REDEEMED'">{{item.userAccount.fullname}} <span> availed this Voucher</span></p>
                    <p class="date-time">{{ item.createdOn | date:'MMM d, y h:mm a' }}</p>
                </div>
            </div>
            <hr/>
            <div class="col-xs-12 p-0 text-center" ng-click="viewVoucher(item.voucherCategory.id)">
                <img ng-src="{{item.voucherCategory.thumbImagePath}}"
                     fallback-src="images/eateries/eatery_img_not_available.jpg"/>
            </div>
            <div class="col-xs-12 p-0">
                <p class="voucher-name">{{item.voucherCategory.eateryName}}</p>
            </div>
            <p class="voucher-val m-l-2">{{item.voucherCategory.value}}</p>
            <div class="eat-info col-xs-12 p-0">
                <span class="voucher-val pull-left">Expires on</span>
                <span class="separator pull-left">:</span>
                <span class="voucher-val pull-left"> {{item.voucherCategory.end_date}}</span>
            </div>
            <hr/>
        </div>

        <!--Badge Post-->
        <div ng-show="item.dtype == 'badge_post'">
            <!--Post-->
            <div class="col-xs-12 p-0">
                <div class="col-xs-2 p-0">
                    <img class="profile-pic img-circle" ng-src="{{item.userAccount.thumbImagePath}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="col-xs-10 p-0 post-type">
                    <p class="u-name" ng-if="item.postType == 'SHARE'">{{item.userAccount.fullname}}</p>
                    <p class="date-time">{{ item.createdOn | date:'MMM d, y h:mm a' }}</p>
                    <p style="margin-left: 0vw;" class="comments">Check out my new Badge</p>
                </div>
            </div>
            <hr/>
            <div class="col-xs-12 p-0 text-center">
                <img ng-src="{{item.lbUserBadge.lbBadge.badgeLogo.imagePath}}"
                     fallback-src="images/eateries/eatery_img_not_available.jpg"/>
            </div>
            <div class="eat-info col-xs-12 p-0">
                <span class="voucher-val pull-left">Badge Name</span>
                <span class="separator pull-left">:</span>
                <span class="voucher-val pull-left"> {{item.lbUserBadge.lbBadge.name}}</span>
            </div>
            <hr/>
        </div>

        <!--Image Post-->
        <div ng-show="item.dtype == 'image_post'">
            <!--Post-->
            <div class="col-xs-12 p-0 all-comments-block">
                <div class="col-xs-2 p-0">
                    <img class="profile-pic img-circle" ng-src="{{item.userAccount.thumbImagePath}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="col-xs-10 p-0 post-type">
                    <p class="u-name" ng-if="item.postType == 'CREATE'">{{item.userAccount.fullname}} <span> added these photos</span></p>
                    <p class="u-name" ng-if="item.postType == 'LIKE'">{{item.userAccount.fullname}} <span> likes these photos</span></p>
                    <p class="date-time">{{ item.createdOn | date:'MMM d, y h:mm a' }}</p>
                </div>
                <hr/>
                <p ng-show="!postEditing(item.id)" class="comments">{{item.comments}}</p>
                <div class="col-xs-12 p-0 comment-value" ng-show="postEditing(item.id)">
                    <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                        <div class="form-group">
                            <textarea style="height: initial;" rows="3" class="form-control" ng-model="updatedPostContent"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p-0 text-center">
                    <image-viewer style="max-height: 65vw;margin-bottom: 2vw;" class="image-container" list="item.social_images"></image-viewer>
                </div>
            </div>

            <hr/>
        </div>

        <!--Like and Share-->

        <div class="col-xs-12 p-0 like-share">
            <p class="col-xs-3 yummy" ng-click="like(item)">
                <img src="images/icons/yummy.png" ng-show="item.like"/>
                <img src="images/icons/unyummy.png" ng-show="!item.like"/>
                <span>{{ item.like ? 'Yummy' : 'Yummy' }}</span>
            </p>
            <p class="col-xs-4" ng-click="share(item)" ng-show="item.dtype == 'voucher_post' || item.dtype == 'eatery_post'">
                <i class="fa fa-share-alt"></i> <span>Share</span>
            </p>
            <div class="col-xs-5 pull-right all-comments-block" ng-show="item.dtype == 'simple_post' || item.dtype == 'image_post'">
                <div class="pull-right comment-tools" ng-show="checkPostOwner(item, user) && !isEditPost">
                    <a style="margin: 0px 15px 0px 10px;" class="pull-left" ng-click="editPost(item)"><i class="fa fa-pencil"></i></a>
                    <a class="pull-left" ng-click="deletePost(item)"><i class="fa fa-trash"></i></a>
                </div>
                <div class="pull-right" ng-show="postEditing(item.id)" style="min-width: 20vw;margin-top: 2vw;">
                    <span class="edit-send-button pull-right" style="padding: 0vw 2vw;" ng-click="cancelEditPost()"><i class="fa fa-times c-red"></i></span>
                    <span class="edit-send-button pull-right" style="padding: 0vw 2vw;" ng-click="updatePost(item,updatedPostContent)"><i class="fa fa-check"></i></span>
                </div>
            </div>
        </div>
        <hr/>
        <!--Comment Box-->
        <div class="col-xs-12 comment-box">
            <div class="col-xs-1 p-0">
                <img class="comment-box-pic img-circle" ng-src="{{user.mainImage}}"
                     fallback-src="images/commons/avatar.jpg"/>
            </div>
            <div style="padding: 0vw 1vw;" class="col-xs-9">
                <div class="form-group p-0">
                    <input type="text" ng-model="comment" class="form-control" placeholder="Leave a comment"/>
                </div>
            </div>
            <div class="col-xs-2 p-0">
                <button type="submit" ng-click="submitComment(item)" class="send-button btn">Send</button>
            </div>
        </div>
        <!--All comments-->
        <div class="col-xs-12 p-0 all-comments-block" ng-show="item.postComments.length != 0">
            <div class="col-xs-12 p-0" ng-repeat="postComment in item.postComments">
                <hr/>
                <div class="col-xs-1 p-0">
                    <img class="commenter-pic img-circle" ng-src="{{postComment.userAccount.thumbImagePath}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="col-xs-11 p-0">
                    <div class="col-xs-12 p-0">
                        <p class="commenter-name pull-left">{{ postComment.userAccount.fullname }}</p>
                        <p class="pull-right date">{{postComment.createdOn | date:'MMM d, y h:mm a'}}</p>
                    </div>

                    <div class="col-xs-12 p-0 comment-value" ng-show="!commentEditing(postComment.id)">
                        {{postComment.commentContent}}
                    </div>
                    <div class="col-xs-12 p-0 comment-value" ng-show="commentEditing(postComment.id)">
                        <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                            <div class="form-group p-0">
                                <textarea rows="1" class="form-control" ng-model="updatedCommentContent"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding: 1vw 0;">
                        <div class="pull-right" ng-show="commentEditing(postComment.id)" style="padding: 1vw 0;min-width: 20vw;">
                            <span class="edit-send-button pull-right" style="padding: 0vw 2vw;" ng-click="cancelEditComment()"><i class="fa fa-times c-red"></i></span>
                            <span class="edit-send-button pull-right" style="padding: 0vw 2vw;" ng-click="updateComment(postComment,updatedCommentContent)"><i class="fa fa-check"></i></span>
                        </div>
                        <div class="pull-right comment-tools">
                            <span class="pull-left" ng-click="likeComment(postComment)">
                                <img src="images/icons/yummy.png" ng-show="postComment.like"/>
                                <img src="images/icons/unyummy.png" ng-show="!postComment.like"/>
                            </span>
                            <div class="pull-right comment-tools" ng-show="checkCommentOwner(postComment, user) && !isEditComment">
                                <a style="margin: 0px 15px 0px 10px;" class="pull-left" ng-click="editComment(postComment)"><i class="fa fa-pencil"></i></a>
                                <a class="pull-left" ng-click="deleteComment(postComment, item)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>