<div class="social-list social-post-wrapper foodee-navbar"
     ng-controller="SocialPostController as poster">

    <div class="scrollable-header">
        <div class="col-xs-4 p-0 pull-left to-the-top inherit-height">
            <div class="btn btn-navbar social-post-button center-text">
                <a ng-click="poster.cancel()" class="foodee-navbar-button">
                    <i class=" fa fa-check-square-o"></i>
                    <span class="navbar-label"> Cancel</span>
                </a>
            </div>
        </div>

        <div class="col-xs-4 title">
            <div>POST</div>
        </div>

        <div class="p-0 col-xs-4 inherit-height">
            <div class="btn btn-navbar pull-right social-post-button center-text" ng-click="poster.post()">
                <a class="foodee-navbar-button">
                    <i class="fa fa-send-o"></i>
                    <span class="navbar-label"> Publish</span>
                </a>
            </div>
        </div>

    </div>

    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
        <div class="scrollable-content scroll-top">
            <div ng-show="poster.busy">
                <ng-include src=" 'list-loader.html' "></ng-include>
            </div>

            <div class="col-xs-12 social-post-block con">
                <div class="col-xs-2 user-pic">
                    <img class="comment-box-pic img-circle" ng-src="{{poster.user.mainImage}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>

                <div class="col-xs-10 p-0">
                    <div class="form-group">
                        <textarea rows="7" class="form-control" placeholder="" ng-model="poster.item.status"></textarea>
                    </div>
                </div>
            </div>
            <div class="main-image col-xs-12 form-group text-center" ng-show="poster.hasImage">
                <div class="image-container m-b-2">
                    <img style="height: 33vh;" id="main-image" class="image-thumbnail"/>
                </div>
                <div class="remove-button m-b-2">
                    <button class="btn btn-foodee" ng-click="poster.removeImage()">Delete</button>
                </div>
            </div>
            <div class="col-xs-12 p-0">
                <p class="add-pic"><a ng-click="poster.takePicture()"><span class="cam-button"><i class="fa fa-camera"></i></span> <span class="in-label">Take Picture</span></a></p>
                <p class="add-pic"><a ng-click="poster.selectPicture()"><span class="cam-button"><i class="fa fa-picture-o"></i></span> <span class="in-label">Select Picture</span></a></p>
            </div>
        </div>
    </div>
</div>