<div class="header-list" ng-controller="EateriesRatingController as eateriesratingCtrl">
<div class="secondary-tab-scroll">
    <div class="col-sm-3">
        <ui-state id='activeTab' default='1'></ui-state>
        <ul class="nav nav-tabs tabbable-recipe-rating navbar-secondary navbar-fixed-top navbar-absolute-top">
            <li ui-class="{'active': activeTab == 1}">
                <a ui-set="{'activeTab': 1}" data-toggle="tab">{{eateriesratingCtrl.DineIn}}</a>
            </li>
            <li ui-class="{'active': activeTab == 2}">
                <a ui-set="{'activeTab': 2}" data-toggle="tab">{{eateriesratingCtrl.Delivery}}</a>
            </li>
        </ul>
    </div>
</div>
<section class="section container-fluid eateries-advanced-rating scrollable-content" >
    <div >
        <div ui-if="activeTab == 1">
            <review-rating data="eateriesratingCtrl.dineInMenu" on-tap='selectedRatingList(selectedItem)'> </review-rating>
        </div>
        <div ui-if="activeTab == 2">
            <review-rating data="eateriesratingCtrl.deliveryMenu" on-tap='selectedRatingList(selectedItem)'> </review-rating>
        </div>

         <div class="row">
            <div class="col-xs-4">
                <button ng-click="eateriesratingCtrl.goback()" class="btn btn-primary">Back</button>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <button ng-click="eateriesratingCtrl.submitRating()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</section>
</div>