<section id="create-eatery" class="app-body section app-itemhomelist-innerpadding container-fluid eateries-list "
         ng-controller="EateryController as eatCtrl">
    <div class="scrollable-header foodee-navbar">
        <div class="p-0 col-xs-2 to-the-top inherit-height">
            <div class="btn btn-navbar pull-left create-eatery-icon center-text" ng-show="eatCtrl.page > 1" ng-click="eatCtrl.previous">
                <a class="foodee-navbar-button" ng-click="eatCtrl.previous()">
                    <i class="fa fa-arrow-left "></i>
                </a>
            </div>
        </div>
        <div class="col-xs-8 title">
            <div>Create Eatery</div>
        </div>
    </div>
    <div class="scrollable-content" ng-show="eatCtrl.busy">
        <ng-include src=" 'list-loader.html' "></ng-include>
    </div>
    <div ng-show="!eatCtrl.busy" class="scrollable main-body-top" ng-class="front.class" style="margin-top: 8vw;">
        <input type="hidden" id="new-eatery" value="true" />
        <div class="scrollable-content scroll-top foodee-form create-eatery-form" id="create-eatery-step">
            <div class="app-itemhomelist-innerpadding" ng-show="eatCtrl.page == 1">
                <div class="google-maps">
                    <div class="col-xs-12 form-group p-t-0">
                        <span style="color: initial;" class="fa fa-search form-control-feedback" aria-hidden="true"
                              id="basic-addon1"></span>

                        <input style="padding-left: 7vw;" class="form-control foodee-border" googleplace
                               ng-model="gPlace"
                               details="eatCtrl.details"
                               callback="eatCtrl.updateEatery"
                               placeholder="Search Eatery"
                               aria-describedby="basic-addon1"/>
                    </div>

                    <div ng-if="eatCtrl.eatery.address.lng !== undefined">
                        <map center="{{ eatCtrl.eatery.address.lat + ', ' + eatCtrl.eatery.address.lng }} " zoom="16">
                            <marker position="{{ eatCtrl.eatery.address.lat + ', ' + eatCtrl.eatery.address.lng }}"
                                    animation="DROP"></marker>
                        </map>
                    </div>

                </div>

                <div class="eatery-form main col-xs-12 p-0">
                    <div class="col-xs-12 form-group">
                        <input class="form-control Ename" type="text" ng-model="eatCtrl.eatery.name" required
                               placeholder="Eatery Name" id="name" ng-blur="eatCtrl.checkError('name')" ng-focus="eatCtrl.removeError('name')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                    <textarea style="resize:none;" class="form-control" rows="5"
                              ng-model="eatCtrl.eatery.address.address1"
                              placeholder="Eatery Address"></textarea>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control" type="text" ng-model="eatCtrl.eatery.address.doorNumber"
                               placeholder="Door #" value="3"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control Elocality" type="text" ng-model="eatCtrl.eatery.address.locality"
                               placeholder="Locality" id="locality" ng-blur="eatCtrl.checkError('locality')" ng-focus="eatCtrl.removeError('locality')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control Ecountry" type="text" ng-model="eatCtrl.eatery.address.country" required
                               placeholder="Country" id="country" ng-blur="eatCtrl.checkError('country')" ng-focus="eatCtrl.removeError('country')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control Estate" type="text" ng-model="eatCtrl.eatery.address.state"
                               placeholder="State" id="state" ng-blur="eatCtrl.checkError('state')" ng-focus="eatCtrl.removeError('state')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control Ecity" type="text" ng-model="eatCtrl.eatery.address.city"
                               placeholder="City" id="city" ng-blur="eatCtrl.checkError('city')" ng-focus="eatCtrl.removeError('city')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control Epincode" type="text" ng-model="eatCtrl.eatery.address.pincode"
                               placeholder="Zipcode" id="pincode" ng-blur="eatCtrl.checkError('pincode')" ng-focus="eatCtrl.removeError('pincode')"/>
                    </div>

                </div>

                <div class="eatery-form main-phfoto col-xs-12 p-0">
                    <p class="main-image-title">Main image for eatery</p>
                    <div class="col-xs-3 p-0">
                        <a class="btn btn-red btn-circle-sm" ng-click="eatCtrl.takePicture('image-thumbnail','main-image')">
                            <span class="foodee-button-sm">
                                <i class="fa fa-camera"></i>
                            </span>
                        </a>
                        <a class="btn btn-red btn-circle-sm m-l-3" ng-click="eatCtrl.selectPicture('image-thumbnail','main-image')">
                            <span class="foodee-button-sm">
                                <i class="fa fa-picture-o"></i>
                            </span>
                        </a>
                    </div>
                    <div class="main-image col-xs-12 form-group">
                        <div style="display:none;" class="thumbnail" id="image-thumbnail">
                            <img style="height: 33vh;" ng-src="{{ eatCtrl.eatery.thumbImagePath }}" id="main-image" class="image-thumbnail"/>
                        </div>
                    </div>
                </div>

                <div class="eatery-form secondary col-xs-12 p-0">
                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control EMobile" type="tel" ng-model="eatCtrl.eatery.address.mobile"
                               placeholder="Mobile" id="mobile" ng-focus="eatCtrl.removeError('mobile')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control ELandline" type="tel" ng-model="eatCtrl.eatery.address.landline"
                               placeholder="Landline" id="landline" ng-focus="eatCtrl.removeError('landline')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control EFax" type="tel" ng-model="eatCtrl.eatery.address.fax"
                               placeholder="Fax" id="fax" ng-focus="eatCtrl.removeError('fax')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control EMail" type="text" ng-model="eatCtrl.eatery.address.email"
                               placeholder="Email ID" id="email" ng-focus="eatCtrl.removeError('email')"/>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <select class="form-control select-box EmenuType" name="mySelect" id="mySelect"
                                ng-model="eatCtrl.eatery.menuType" ng-blur="eatCtrl.checkError('mySelect')" ng-focus="eatCtrl.removeError('mySelect')">
                            <option value=''>Menu Type</option>
                            <option value='veg'>Strictly Vegetarian</option>
                            <option value='nonveg'>Strictly Non-Vegetarian</option>
                            <option value='both'>Serves Both</option>
                        </select>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <div ng-dropdown-multiselect=""
                             class="multiselect Ecuisines"
                             options="eatCtrl.cuisineTypes"
                             selected-model="eatCtrl.eatery.cuisines"
                             extra-settings="eatCtrl.multiSelectCuisineSettings"
                             translation-texts="eatCtrl.cuisineLabels"
                             events="eatCtrl.manageSubCuisines"
                             onclick="fMultiselect()" id="cuisines" ng-blur="eatCtrl.checkError('cuisines')" ng-focus="eatCtrl.removeError('cuisines')">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group p-t-0" ng-show="eatCtrl.subCusines">
                        <div ng-dropdown-multiselect=""
                             options="eatCtrl.subCuisineTypes"
                             selected-model="eatCtrl.eatery.subCuisines"
                             extra-settings="eatCtrl.multiSelectCuisineSettings"
                             translation-texts="eatCtrl.subCuisineLabels"
                             onclick="fMultiselect()">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <div ng-dropdown-multiselect="" class="EeateryType multi-select"
                             options="eatCtrl.eateryTypes"
                             selected-model="eatCtrl.eatery.eateryType"
                             extra-settings="eatCtrl.multiSelectSettings"
                             translation-texts="eatCtrl.eateryTypeLabel"
                             onclick="fMultiselect()" id="eateryType" ng-blur="eatCtrl.checkError('eateryType')" ng-focus="eatCtrl.removeError('eateryType')">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <div ng-dropdown-multiselect="" class="Efacilities multi-select"
                             options="eatCtrl.eateryFacilities"
                             selected-model="eatCtrl.eatery.facilities"
                             extra-settings="eatCtrl.multiSelectSettings"
                             translation-texts="eatCtrl.facilityLabels"
                             onclick="fMultiselect()" id="facilities" ng-blur="eatCtrl.checkError('facilities')" ng-focus="eatCtrl.removeError('facilities')">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <div ng-dropdown-multiselect="" class="Epayment multi-select"
                             options="eatCtrl.eateryPayments"
                             selected-model="eatCtrl.eatery.paymentOptions"
                             extra-settings="eatCtrl.multiSelectSettings"
                             translation-texts="eatCtrl.eateryPaymentsLabels"
                             onclick="fMultiselect()" id="paymentOptions" ng-blur="eatCtrl.checkError('paymentOptions')" ng-focus="eatCtrl.removeError('paymentOptions')">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group p-t-0">
                        <input class="form-control Eprice" type="number" ng-model="eatCtrl.eatery.price"
                               placeholder="Price for 2" id="price" ng-blur="eatCtrl.checkError('price')" ng-focus="eatCtrl.removeError('price')"/>
                    </div>
                </div>
                <div class="col-xs-12 p-0 footer-group">
                    <div class="col-xs-4 p-0 form-group footer-button">
                        <a class="btn-red" ng-click="eatCtrl.cancel()">
                            <i class="fa fa-times"></i>

                            <div class="button-label">Cancel</div>
                        </a>
                    </div>
                    <div class="col-xs-4 footer-button">
                        <a class="btn-red" ng-click="eatCtrl.publish()">
                            <i class="fa fa-share-square-o"></i>

                            <div class="button-label">Publish</div>
                        </a>
                    </div>
                    <div class="col-xs-4 p-0 form-group footer-button">
                        <a class="btn-red" ng-click="eatCtrl.persist()">
                            <i class="fa fa-chevron-right"></i>

                            <div class="button-label">Continue</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="app-itemhomelist-innerpadding" ng-show="eatCtrl.page == 2">

                <div class="eatery-form main-phfoto col-xs-12 p-0">
                    <p class="main-image-title">Eatery photos</p>
                    <div class="col-xs-12 p-0">
                        <a class="btn btn-red btn-circle-sm" ng-click="eatCtrl.takePicture('eateryPhoto','eateryPhotoSub')">
                            <span class="foodee-button-sm">
                                <i class="fa fa-camera"></i>
                            </span>
                        </a>
                        <a class="btn btn-red btn-circle-sm m-l-3" ng-click="eatCtrl.selectPicture('eateryPhoto','eateryPhotoSub')">
                            <span class="foodee-button-sm">
                                <i class="fa fa-picture-o"></i>
                            </span>
                        </a>
                    </div>
                    <p class="col-xs-12 form-group p-b-0" ng-show="eatCtrl.images.length == 0">
                        Click to add a picture
                    </p>
                    <div class="main-image col-xs-12 form-group">
                        <div style="display:none;" class="thumbnail" id="eateryPhoto">
                            <img style="height: 33vh;" ng-src="{{ eatCtrl.eatery.thumbImagePath }}" id="eateryPhotoSub" class="image-thumbnail"/>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row p-0 form-group">
                    <div class="col-xs-12" style="padding: 0px 0px 2vw 0;">
                        <span class="main-image-title">Famous Dishes</span>
                        <a class="btn btn-red btn-circle-micro m-l-3" ng-click="eatCtrl.addDish()">
                        <span class="foodee-button-sm">
                            <i class="fa fa-plus"></i>
                        </span>
                        </a>
                    </div>
                    <div ng-repeat="famousDishe in eatCtrl.eatery.famousDishes" class="col-xs-12 form-group p-t-0">
                        <div class="input-group">
                            <input type="text" class="form-control EFamousDish" ng-model="famousDishe.dish"
                                   placeholder="Famous Dish" maxlength="30" ng-focus="eatCtrl.removeError('speciality')">
                            <span class="input-group-btn">
                                <button class="btn btn-default dynamic-rows-delete" type="button"
                                        ng-click="eatCtrl.removeDish(famousDishe)"><i class="fa fa-minus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row p-0">

                    <div class="col-xs-12 form-group p-t-0">
                        <span class="main-image-title">Eatery is famous for</span>
                        <input type="text" class="form-control ESpeciality" ng-model="eatCtrl.eatery.speciality"
                               placeholder="Speciality" id="speciality" ng-focus="eatCtrl.removeError('speciality')"/>
                    </div>
                </div>

                <hr/>

                <div class="col-xs-12 form-group p-t-0">
                    <div ng-dropdown-multiselect=""
                         options="eatCtrl.eateryFeatures"
                         selected-model="eatCtrl.eatery.features"
                         extra-settings="eatCtrl.multiSelectSettings"
                         translation-texts="eatCtrl.eateryFeaturesLabels">
                    </div>
                </div>

                <div class="col-xs-12 form-group p-t-0">
                    <div ng-dropdown-multiselect=""
                         options="eatCtrl.mealTypes"
                         selected-model="eatCtrl.eatery.mealTypes"
                         extra-settings="eatCtrl.multiSelectSettings"
                         translation-texts="eatCtrl.mealTypesLabels">
                    </div>
                </div>

                <hr/>

                <div class="form-group p-t-0">

                    <div class="col-xs-12" style="padding: 0px 0px 2vw 0;">
                        <span class="main-image-title">Opening Hours</span>
                        <a class="btn btn-red btn-circle-micro m-l-3" ng-click="eatCtrl.addOpening()">
                        <span class="foodee-button-sm">
                            <i class="fa fa-plus"></i>
                        </span>
                        </a>
                    </div>
                    <div ng-repeat="opening in eatCtrl.eatery.timingList" class="col-xs-12 form-group p-t-0">
                        <div class="input-group">
                            <span class="form-control p-0">
                                <input type="text" class="opening-hour col-xs-6" ng-model="opening.openingHours"
                                       placeholder="Opening Hours">
                                <input class="happy-hour col-xs-6" type="text" ng-model="opening.happyHours"
                                       placeholder="Happy Hours"/>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-default dynamic-rows-delete" type="button"
                                        ng-click="eatCtrl.removeOpening(opening)"><i class="fa fa-minus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="col-xs-12 p-0">
                    <div class="col-xs-4 form-group p-0">
                        <p class="main-image-title">Reservation</p>

                    </div>
                    <div class="col-xs-8 form-group p-0 text-center">
                        <span class="yes-no-labels yes-text">Yes</span>
                        <ui-switch class="switch switchOn" id="tuggle" ng-model="eatCtrl.eatery.eateryOptions.eateryReservationRequired"
                                  style="display:inline-block;" ng-change="eatCtrl.toggleType('tuggle')"></ui-switch>
                        <span class="yes-no-labels no-text">No</span>
                    </div>
                </div>
                <hr/>

                <div class="col-xs-12 form-group p-t-0">
                    <input class="form-control EAttire" type="text" ng-model="eatCtrl.eatery.eateryOptions.eateryAttire"
                           placeholder="Attire" id="attire" ng-focus="eatCtrl.removeError('attire')" maxlength="25"/>
                </div>

                <div class="col-xs-12 form-group p-t-0">
                    <input class="form-control EAmbience" type="text" ng-model="eatCtrl.eatery.eateryOptions.eateryAmbience"
                           placeholder="Ambience" id="ambience" ng-focus="eatCtrl.removeError('ambience')" maxlength="25"/>
                </div>

                <div class="col-xs-12 form-group p-t-0">
                    <input class="form-control ENoiseLevel" type="text" ng-model="eatCtrl.eatery.eateryOptions.eateryNoiseLevel"
                           placeholder="Noise Level" id="noise" ng-focus="eatCtrl.removeError('noise')" maxlength="25"/>
                </div>

                <div class="col-xs-12 form-group p-t-0">
                    <input class="form-control" type="text" ng-model="eatCtrl.eatery.eateryOptions.eateryOthers"
                           placeholder="Others" maxlength="25"/>
                </div>

                <div class="col-xs-12 p-0 footer-group">
                    <div class="col-xs-4 footer-button">
                        <a class="btn-red" ng-click="eatCtrl.previous()">
                            <i class="fa fa-times"></i>

                            <div class="button-label">Cancel</div>
                        </a>
                    </div>

                    <div class="col-xs-4 footer-button">
                        <a class="btn-red" ng-click="eatCtrl.publish()">
                            <i class="fa fa-share-square-o"></i>

                            <div class="button-label">Publish</div>
                        </a>
                    </div>

                    <div class="col-xs-4 footer-button">
                        <a class="btn-red" ng-click="eatCtrl.persist()">
                            <i class="fa fa-chevron-right"></i>

                            <div class="button-label">Continue</div>
                        </a>
                    </div>
                </div>

            </div>

            <div class="app-itemhomelist-innerpadding" ng-show="eatCtrl.page == 3">
                <div class="eatery-form main-phfoto col-xs-12 p-0">
                    <p class="main-image-title">Eatery menu</p>
                    <div class="col-xs-3 p-0">
                        <a class="btn btn-red btn-circle-sm" ng-click="eatCtrl.takePicture('eateryMenu','eateryMenuSub')">
                            <span class="foodee-button-sm">
                                <i class="fa fa-camera"></i>
                            </span>
                        </a>
                        <a class="btn btn-red btn-circle-sm m-l-3" ng-click="eatCtrl.selectPicture('eateryMenu','eateryMenuSub')">
                            <span class="foodee-button-sm">
                                <i class="fa fa-picture-o"></i>
                            </span>
                        </a>
                    </div>
                    <div class="main-image col-xs-12 form-group">
                        <div style="display:none;" class="thumbnail" id="eateryMenu">
                            <img style="height: 33vh;" ng-src="{{ eatCtrl.eatery.thumbImagePath }}" id="eateryMenuSub" class="image-thumbnail"/>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="col-xs-12 p-0">
                    <p class="main-image-title">Social</p>
                </div>

                <div class="col-xs-12 form-group p-t-0">
                    <span class="fa fa-at form-control-feedback" aria-hidden="true"></span>
                    <input class="form-control social-links EWebsite" type="text"
                           ng-model="eatCtrl.eatery.eateryDigitalContacts.eateryWebsite"
                           placeholder="Website" id="website" ng-focus="eatCtrl.removeError('website')" maxlength="100"/>
                </div>
                <div class="col-xs-12 form-group p-t-0">
                    <span class="fa fa-facebook form-control-feedback" aria-hidden="true"></span>
                    <input class="form-control social-links EFacebook" type="text"
                           ng-model="eatCtrl.eatery.eateryDigitalContacts.eateryFacebook"
                           placeholder="Facebook" id="facebook" ng-focus="eatCtrl.removeError('facebook')" maxlength="100"/>
                </div>
                <div class="col-xs-12 form-group p-t-0">
                    <span class="fa fa-twitter form-control-feedback" aria-hidden="true"></span>
                    <input class="form-control social-links ETwitter" type="text"
                           ng-model="eatCtrl.eatery.eateryDigitalContacts.eateryTwitter"
                           placeholder="Twitter" id="twitter" ng-focus="eatCtrl.removeError('twitter')" maxlength="100"/>
                </div>
                <div class="col-xs-12 form-group p-t-0">
                    <span class="fa fa-pinterest form-control-feedback" aria-hidden="true"></span>
                    <input class="form-control social-links EPinterest" type="text"
                           ng-model="eatCtrl.eatery.eateryDigitalContacts.eateryPinterest"
                           placeholder="Printerest" id="pinterest" ng-focus="eatCtrl.removeError('pinterest')" maxlength="100"/>
                </div>

                <div class="col-xs-12 p-0 footer-group">
                    <div class="col-xs-6 form-group p-0 footer-button">
                        <a class="btn-red" ng-click="eatCtrl.previous()">
                            <i class="fa fa-times"></i>

                            <div class="button-label">Cancel</div>
                        </a>
                    </div>

                    <div class="col-xs-6 form-group p-0 footer-button">
                        <a class="btn-red" ng-click="eatCtrl.publish()">
                            <i class="fa fa-share-square-o"></i>

                            <div class="button-label">Publish</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
