<section class="app-body section container-fluid" ng-controller="EateriesRatingController as rateCtrl">
    <div class="scrollable-header foodee-navbar">
        <div class="navbar-brand-center title">
            <div>RATING</div>
        </div>
    </div>
    <div class="scrollable-content" ng-show="rateCtrl.busy">
        <ng-include src=" 'list-loader.html' "></ng-include>
    </div>
    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
    <div class="scrollable-content" ng-show="!rateCtrl.busy">
        <div class="rating-block">
            <div class="col-xs-12 p-0 m-t-20 rating text-center" ng-if="!eatery.simpleRating && !eatery.advRating">
                <div class="col-xs-12 p-0">
                    <div class="rating-input" star-rating ng-model="rateCtrl.simpleRateValue" max="5"></div>
                    <button class="rate-submit" ng-click="rateCtrl.submitSimpleRate()">Submit</button>
                </div>
                <div class="col-xs-12 text-right" style="padding: 2vw 15px;">
                    <button class="rate-submit" ng-click="rateCtrl.giveAdvanceRating()" style="font-size: 3vw;">Advance Rating</button>
                </div>
            </div>
            <div class="col-xs-12 p-0">
                <div class="text-center" style="padding: 2vw 0;" ng-if="(eatery.simpleRating || eatery.advRating) && (!eatery.simpleReview && !eatery.advReview)">
                    <b>
                        <button class="rate-submit" ng-click="rateCtrl.giveSimpleReview()">Write your Review</button>
                    </b>
                </div>
            </div>
            <hr/>
            <div class="col-xs-12 adv-rating">
                <!--<div class="col-xs-12 p-0 small-line"><span class="u-name">{{rating.userAccount.fullname}}</span> rated <span class="u-name">{{ eatery.name }}</span> as follows</div>-->
                <div class="col-xs-12 p-0 text-center">
                    <h5>Simple Ratings</h5>
                </div>
                <div class="view-rating" ng-repeat="rating in eatery.eateryRatings">
                    <div class="col-xs-12">
                        <rating class="rating-right pull-right rating-show" value="{{rating.ratingCount}}"></rating>
                        <p class="m-0">{{rating.userAccount.fullname}}</p>
                        <p class="date-time pull-left">{{ rating.createdOn | date:'MMM d, y h:mm a' }}</p>
                    </div>
                </div>
                <div ng-show="eatery.eateryRatings.length == 0">
                    <div class="col-xs-12 p-0">
                        <p>No Ratings available!</p>
                    </div>
                </div>
                <hr/>
                <div class="col-xs-12 p-0 text-center">
                    <h5>Advance Ratings</h5>
                </div>
                <div class="view-rating" ng-repeat="rating in eatery.advancedRatings">
                    <div class="col-xs-12">
                        <rating ng-click="rateCtrl.showAdvRating(rating)" class="rating-right pull-right rating-show" value="{{rating.total_adv_rating}}"></rating>
                        <p class="m-0">{{rating.userAccount.fullname}}</p>
                        <p class="date-time pull-left">{{ rating.createdOn | date:'MMM d, y h:mm a' }}</p>
                    </div>
                </div>
                <div ng-show="eatery.advancedRatings.length == 0">
                    <div class="col-xs-12 p-0">
                        <p>No Advance ratings yet!</p>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div ui-content-for="modals">
            <div ng-include="'eateries/modals/adv-rate.html'"></div>
        </div>
    </div>
    </div>
</section>