<section class="app-body" ng-controller="EateryReviewController as reviewCtrl">
    <div class="scrollable-header foodee-navbar">
        <div class="col-xs-2 p-0 pull-left inherit-height">
        </div>

        <div class="col-xs-8 title">
            <div>ADVANCE REVIEW</div>
        </div>
        <div class="p-0 col-xs-2 inherit-height">
        </div>
    </div>
    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
        <div class="scrollable-content" ng-show="reviewCtrl.busy">
            <ng-include src=" 'list-loader.html' "></ng-include>
        </div>
        <div ng-show="!reviewCtrl.busy" class="scrollable-content adv-review-view">
            <div class="col col-xs-12 p-0 view-adv-review">
                <div class="col-xs-12 p-0">
                    <div class="main">
                        <div class="text-center">
                            <img ng-src="{{eatery.thumbImagePath}}" fallback-src="images/eateries/eatery3.jpg">
                        </div>
                        <div class="details">
                            <div class="col-xs-1 p-0">
                                <img class="img-circle commenter-pic" ng-src="{{reviewCtrl.advReview.creator.thumbImagePath}}" fallback-src="images/commons/avatar.jpg"/>
                            </div>
                            <div class="col-xs-7 p-0">
                                <p class="u-name">{{reviewCtrl.advReview.creator.fullname}}</p>
                            </div>
                            <div style="padding: 8px 0 0 0;" class="col-xs-4 text-right">
                                <rating class="rating-right" value="{{reviewCtrl.advReview.rating}}"></rating>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="col col-xs-12 name" ng-show="!reviewCtrl.reviewEditing(reviewCtrl.advReview.id)">
                    {{reviewCtrl.advReview.title}}
                </h5>
                <div class="col-xs-12 comment-value" ng-show="reviewCtrl.reviewEditing(reviewCtrl.advReview.id)">
                    <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                        <span class="title-text">Title</span><span class="pull-right count-total-edit">Min:5.Current:{{reviewCtrl.advReview.title.length}}</span>
                        <div class="form-group p-0">
                            <textarea style="height: initial;" rows="1" maxlength="50" class="form-control" ng-model="reviewCtrl.advReview.title"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 user-details">
                    <p>{{reviewCtrl.advReview.createdOn | date:'MMM d, y h:mm a' }}</p>
                </div>
                <div class="col col-xs-12 u-review" ng-show="!reviewCtrl.reviewEditing(reviewCtrl.advReview.id)">
                    {{reviewCtrl.advReview.content}}
                </div>
                <div class="col-xs-12 comment-value" ng-show="reviewCtrl.reviewEditing(reviewCtrl.advReview.id)">
                    <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                        <span class="title-text">Content</span><span class="pull-right count-total-edit">Min:300.Current:{{reviewCtrl.advReview.content.length}}</span>
                        <div class="form-group p-0">
                            <textarea style="height: initial;" rows="6" class="form-control" ng-model="reviewCtrl.advReview.content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 u-social">
                    <div class="u-commentss" ng-click="reviewCtrl.likeAdvReview(reviewCtrl.advReview)">
                        <img src="images/icons/yummy.png" ng-show="reviewCtrl.advReview.like"/>
                        <img src="images/icons/unyummy.png" ng-show="!reviewCtrl.advReview.like"/>
                        <span>{{ item.like ? 'Yummy' : 'Yummy' }}</span>
                    </div>
                    <div class="pull-right all-comments-block" style="width: 30vw;">
                        <div class="pull-right comment-tools" ng-show="reviewCtrl.checkReviewOwner(reviewCtrl.advReview, reviewCtrl.user) && !reviewCtrl.isReviewEdit">
                            <a style="margin: 0px 15px 0px 10px;" class="pull-left" ng-click="reviewCtrl.editReview(reviewCtrl.advReview)"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div style="width: 100%" class="pull-left" ng-show="reviewCtrl.reviewEditing(reviewCtrl.advReview.id)">
                            <span class="send-button pull-right" style="padding: 0vw 2vw;" ng-click="reviewCtrl.cancelEditReview()"><i class="fa fa-times c-red"></i></span>
                            <span class="send-button pull-right" style="padding: 0vw 2vw;" ng-click="reviewCtrl.updateAdvReview(reviewCtrl.advReview.title, reviewCtrl.advReview.content)"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 u-helpful" ng-show="reviewCtrl.advReview.yesCount > 0">
                <div class="col-xs-12 outer-box" ng-show="reviewCtrl.advReview.userCritic">
                    <span ng-if="reviewCtrl.advReview.reviewCritic">You felt this review to be helpful</span>
                    <span ng-if="!reviewCtrl.advReview.reviewCritic">You felt this review not to be helpful</span>
                </div>
                <div class="col-xs-12 outer-box" style="padding-right: 1vw;" ng-show="!reviewCtrl.checkReviewOwner(reviewCtrl.advReview, reviewCtrl.user) && !reviewCtrl.advReview.userCritic">
                    <span>Was this review helpful?</span>
                    <div class="helpful-result">
                        <button type="submit" ng-click="reviewCtrl.makeAdvReviewHelpFull('NO')" class="send-button btn comment-btn-update">No</button>
                        <button type="submit" ng-click="reviewCtrl.makeAdvReviewHelpFull('YES')" class="send-button btn comment-btn-update">Yes</button>
                    </div>
                </div>
                <div class="col-xs-12 outer-box" ng-show="reviewCtrl.advReview.yesCount > 0">
                    <span>{{reviewCtrl.advReview.yesCount}} users said Yes out of {{reviewCtrl.advReview.totalCounts}}</span>
                </div>
            </div>
            <!--Comment Box-->
            <div class="col-xs-12 comment-box m-t-2">
                <div class="col-xs-1 p-0">
                    <img class="comment-box-pic img-circle" ng-src="{{reviewCtrl.user.mainImage}}"
                         fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div style="padding: 0vw 1vw;" class="col-xs-9">
                    <div class="form-group p-0">
                        <input type="text" maxlength="300" ng-model="reviewCtrl.reviewComment" class="form-control" placeholder="Leave a comment"/>
                    </div>
                </div>
                <div class="col-xs-2 p-0" style="height: 7.5vw;">
                    <button type="submit" ng-click="reviewCtrl.submitAdvReviewComment(reviewCtrl.advReview.id)" class="send-button btn comment-btn-update">Comment</button>
                </div>
            </div>
            <div class="col col-xs-12 u-comments">
                <p class="comment-title" ng-show="reviewCtrl.advReview.comments.length != 0">Comments</p>
                <ul ng-show="reviewCtrl.advReview.comments.length != 0">
                    <li ng-repeat="comment in reviewCtrl.advReview.comments">
                        <div class="col-xs-12 user-comment-body">
                            <div class="col col-xs-12">
                                <div class="col col-xs-1 p-0 user-comment-image">
                                    <img class="img-circle" ng-src="{{comment.userAccount.thumbImagePath}}"
                                         fallback-src="images/commons/avatar.jpg"/>
                                </div>
                                <div class="col col-xs-11 user-comment-reviews">
                                    <div class="col col-xs-12 p-0 u-comment-name">
                                        <h5 class="col col-xs-8 u-comment-name">
                                            {{comment.userAccount.fullname }}
                                        </h5>
                                        <div class="col col-xs-4 text-right u-comment-social">
                                            {{comment.createdOn | date:'MMM d, y h:mm a'}}
                                        </div>
                                    </div>
                                    <div class="col col-xs-12 u-comment-review">
                                        <span ng-show="!reviewCtrl.reviewCommentEditing(comment.id)">
                                            {{comment.commentContent}}
                                        </span>
                                        <div class="col-xs-12 p-0 comment-value" ng-show="reviewCtrl.reviewCommentEditing(comment.id)">
                                            <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                                                <div class="form-group">
                                                    <textarea style="height: initial;" rows="3" maxlength="300" class="form-control" ng-model="reviewCtrl.commentContent"></textarea>
                                                </div>
                                                <span class="send-button pull-right" style="padding: 0vw 2vw;" ng-click="reviewCtrl.cancelEditComment()"><i class="fa fa-times c-red"></i></span>
                                                <span class="send-button pull-right" style="padding: 0vw 2vw;" ng-click="reviewCtrl.updateReviewComment(comment)"><i class="fa fa-check"></i></span>
                                            </div>
                                        </div>
                                        <p class="comment-tools pull-right" ng-show="reviewCtrl.checkReviewCommentOwner(comment, reviewCtrl.user) && !reviewCtrl.isEdit">
                                            <a style="margin: 0px 15px 0px 10px;" class="pull-left" ng-click="reviewCtrl.editReviewComment(comment)"><i class="fa fa-pencil"></i></a>
                                            <a class="pull-left" ng-click="reviewCtrl.deleteAdvReviewComment(comment)"><i class="fa fa-trash"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>