<div class="eatery-menu-page display-single-review" ng-controller="EateryReviewController as reviewCtrl">
    <div class="scrollable-header foodee-navbar">
        <div class="col-xs-2 p-0 pull-left inherit-height">

        </div>

        <div class="col-xs-8 title">
            <div>SIMPLE REVIEW</div>
        </div>
        <div class="p-0 col-xs-2 inherit-height">

        </div>
    </div>
    <div class="scrollable" style="margin-top: 8vw;padding-bottom: 8vw;">
        <div class="scrollable-content" ng-show="reviewCtrl.busy">
            <ng-include src=" 'list-loader.html' "></ng-include>
        </div>
        <div class="col-xs-12 scrollable-content adv-review-card" ng-show="!reviewCtrl.busy">
            <div class="col col-xs-12 p-0 view-adv-review">
                <h5 class="col col-xs-12 u-name" ng-show="!reviewCtrl.reviewEditing(reviewCtrl.review.id)">
                    {{reviewCtrl.review.title}}
                </h5>

                <div class="col-xs-12 comment-value" ng-show="reviewCtrl.reviewEditing(reviewCtrl.review.id)">
                    <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                        <span class="title-text">Title</span><span class="pull-right count-total-edit">Min:5.Current:{{reviewCtrl.review.title.length}}</span>
                        <div class="form-group">
                            <textarea style="height: initial;" rows="1" maxlength="50" class="form-control" ng-model="reviewCtrl.review.title"></textarea>
                        </div>
                    </div>
                </div>
                <div class="user-image">
                    <img class="img-circle" ng-src="{{reviewCtrl.review.creator.thumbImagePath}}" fallback-src="images/commons/avatar.jpg"/>
                </div>
                <div class="user-details">
                    <span class="m-0 title">{{reviewCtrl.review.creator.fullname}}</span>
                    <span class="pull-right" style="margin-top: 0.9vw;">{{reviewCtrl.review.createdOn | date:'MMM d, y h:mm a' }}</span>
                </div>
                <div class="col col-xs-12 u-review" ng-show="!reviewCtrl.reviewEditing(reviewCtrl.review.id)">
                    {{reviewCtrl.review.content}}
                </div>
                <div class="col-xs-12 comment-value" ng-show="reviewCtrl.reviewEditing(reviewCtrl.review.id)">
                    <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                        <span class="title-text">Content</span><span class="pull-right count-total-edit">Min:50.Current:{{reviewCtrl.updatedReviewContent.length}}</span>
                        <div class="form-group">
                            <textarea style="height: initial;" rows="3" maxlength="300"  class="form-control" ng-model="reviewCtrl.updatedReviewContent"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 u-rating">
                    <div class="pull-left u-social">
                        <div class="u-comment" ng-click="reviewCtrl.likeReview(reviewCtrl.review)">
                            <img src="images/icons/yummy.png" ng-show="reviewCtrl.review.like"/>
                            <img src="images/icons/unyummy.png" ng-show="!reviewCtrl.review.like"/>
                            <span>{{ item.like ? 'Yummy' : 'Yummy' }}</span>
                        </div>
                    </div>
                    <div class="pull-right comment-tools" style="min-width: 20vw;" ng-show="reviewCtrl.checkReviewOwner(reviewCtrl.review, reviewCtrl.user) && !reviewCtrl.isReviewEdit">
                        <a class="pull-right" ng-click="reviewCtrl.deleteReview(reviewCtrl.review)"><i class="fa fa-trash"></i></a>
                        <a style="margin: 0px 15px 0px 10px;" class="pull-right" ng-click="reviewCtrl.editReview(reviewCtrl.review)"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="pull-right" style="min-width: 20vw;" ng-show="reviewCtrl.reviewEditing(reviewCtrl.review.id)">
                        <span class="send-button pull-right" ng-click="reviewCtrl.cancelEditReview()"><i class="fa fa-times c-red"></i></span>
                        <span class="send-button pull-right" ng-click="reviewCtrl.updateReview(reviewCtrl.review.title, reviewCtrl.updatedReviewContent)"><i class="fa fa-check"></i></span>
                    </div>
                    <div class="pull-right user-details" style="margin: 0;width: 20vw;margin-top: 1.5vw;">
                        <rating class="rating-right" value="{{reviewCtrl.review.rating}}"></rating>
                    </div>
                </div>
                <div class="col-xs-12 u-helpful" ng-show="reviewCtrl.review.yesCount != 0">
                    <div class="col-xs-12 outer-box" ng-show="reviewCtrl.review.userCritic">
                        <span ng-if="reviewCtrl.review.reviewCritic">You felt this review to be helpful</span>
                        <span ng-if="!reviewCtrl.review.reviewCritic">You felt this review not to be helpful</span>
                    </div>
                    <div class="col-xs-12 outer-box" ng-show="!reviewCtrl.checkReviewOwner(reviewCtrl.review, reviewCtrl.user) && !reviewCtrl.review.userCritic">
                        <span>Was this review helpful?</span>
                        <div class="helpful-result">
                            <button type="submit" ng-click="reviewCtrl.makeReviewHelpFull('NO')" class="send-button btn comment-btn-update">No</button>
                            <button type="submit" ng-click="reviewCtrl.makeReviewHelpFull('YES')" class="send-button btn comment-btn-update">Yes</button>
                        </div>
                    </div>
                    <div class="col-xs-12 outer-box" ng-show="reviewCtrl.review.yesCount != 0">
                        <span ng-show="reviewCtrl.review.yesCount == 1 ">{{reviewCtrl.review.yesCount}} foodee found it useful.</span>
                        <span ng-show="reviewCtrl.review.yesCount > 1 ">{{reviewCtrl.review.yesCount}} foodees found it useful.</span>
                    </div>
                </div>
                <!--Comment Box-->
                <div class="col-xs-12 comment-box m-t-2">
                    <div class="col-xs-1 p-0">
                        <img class="comment-box-pic img-circle" ng-src="{{reviewCtrl.user.mainImage}}"
                             fallback-src="images/commons/avatar.jpg"/>
                    </div>
                    <div style="padding: 0vw 1vw;" class="col-xs-9">
                        <div class="form-group p-0">
                            <input type="text" maxlength="300" ng-model="reviewCtrl.reviewComment" class="form-control" placeholder="Leave a comment"/>
                        </div>
                    </div>
                    <div class="col-xs-2 p-0" style="height: 7.5vw;">
                        <button type="submit" ng-click="reviewCtrl.submitReviewComment(reviewCtrl.review.id)" class="send-button btn comment-btn-update">Comment</button>
                    </div>
                </div>
                <div class="col col-xs-12 u-comments" ng-show="reviewCtrl.review.comments.length != 0">
                    <p class="comment-title">Comments</p>
                    <ul>
                        <li ng-repeat="comment in reviewCtrl.review.comments">
                            <div class="col-xs-12 user-comment-body">
                                <div class="col col-xs-12">
                                    <div class="col col-xs-1 p-0 user-comment-image">
                                        <img class="img-circle" ng-src="{{comment.userAccount.thumbImagePath}}"
                                             fallback-src="images/commons/avatar.jpg"/>
                                    </div>
                                    <div class="col col-xs-11 user-comment-reviews">
                                        <div class="col col-xs-12 p-0 u-comment-name">
                                            <h5 class="col col-xs-7 u-comment-name">
                                                {{comment.userAccount.fullname }}
                                            </h5>
                                            <div class="col col-xs-5 text-right u-comment-social">
                                                {{comment.createdOn | date:'MMM d, y h:mm a'}}
                                            </div>
                                        </div>
                                        <div class="col col-xs-12 u-comment-review">
                                            <span class="coment" ng-show="!reviewCtrl.reviewCommentEditing(comment.id)">
                                                {{comment.commentContent}}
                                            </span>
                                            <div class="col-xs-12 p-0 comment-value" ng-show="reviewCtrl.reviewCommentEditing(comment.id)">
                                                <div class="pull-left" style="margin-right: 1vw;width: 100%;">
                                                    <div class="form-group">
                                                        <textarea style="height: initial;" rows="3" maxlength="300"  class="form-control" ng-model="reviewCtrl.commentContent"></textarea>
                                                    </div>
                                                    <span class="send-button pull-right" style="padding: 0vw 2vw;" ng-click="reviewCtrl.cancelEditComment()"><i class="fa fa-times c-red"></i></span>
                                                    <span class="send-button pull-right" style="padding: 0vw 2vw;" ng-click="reviewCtrl.updateReviewComment(comment)"><i class="fa fa-check"></i></span>
                                                </div>
                                            </div>
                                            <p class="comment-tools pull-right" style="min-width: 20vw;margin-top: 1vw;" ng-show="reviewCtrl.checkReviewCommentOwner(comment, reviewCtrl.user) && !reviewCtrl.isEdit">
                                                <a style="margin: 0px 15px 0px 10px;" class="pull-left" ng-click="reviewCtrl.editReviewComment(comment)"><i class="fa fa-pencil"></i></a>
                                                <a class="pull-left" ng-click="reviewCtrl.deleteReviewComment(comment,reviewCtrl.review)"><i class="fa fa-trash"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>