<div ng-include="'navbar-secondary.html'" ng-controller="RecipesRatingController"></div>
<section class="section container-fluid recipes-advanced-rating scrollable-content" ng-controller="RecipesRatingController as recipesratingCtrl">
    <review-rating data="recipesratingCtrl.advanceRatingMenu" on-tap='selectedRatingList(selectedItem)'> </review-rating>
    <div class="row">
        <div class="col-xs-6 centered">
            <button ng-click="recipesratingCtrl.goback()" class="primary-btn">Back</button>
        </div>
        <div class="col-xs-6 centered">
            <button ng-click="recipesratingCtrl.submitRating()" class="primary-btn">Submit</button>
        </div>
    </div>
</section>