<div class="container-fluid">
    <div class="row">
        <span class="social-sharing-overlay col col-xs-4">
            <img src="images/icons/FoodeeBuddee-Icon.png" ng-click="receipeCtrl.shareViaFoodeeBuddee()">
            <div>Foodee<br>Buddee</div>
        </span>
        <span class="social-sharing-overlay col col-xs-4" ng-click="receipeCtrl.shareViaFaceBook()">
            <i class="fa fa-facebook fa-navbar"><div>Facebook</div></i>
        </span>
        <span class="social-sharing-overlay col col-xs-4" ng-click="receipeCtrl.shareViaTwitter()">
            <i class="fa fa-twitter fa-navbar"><div>Twitter</div></i>
        </span>
    </div>
    <div class="row">
        <span class="social-sharing-overlay col col-xs-6" ng-click="receipeCtrl.shareViaGoogleplus()">
            <i class="fa fa-google-plus fa-navbar"><div>Google+</div></i>
        </span>
        <span class="social-sharing-overlay col col-xs-6" ng-click="receipeCtrl.shareViaEmail()">
            <i class="fa fa-envelope fa-navbar"><div>Email</div></i>
        </span>
    </div>
</div>