<div class="">
    <ul class="list-group">
        <li class="list-group-item no-padding" ng-repeat="record in data">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-xs-12 header-gutter-margin">
                        <span class="recipe-bold" ng-bind-template="{{record.receipeHeading}}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <ul>
                            <li ng-repeat="rec in record.item">
                                <div class="row">
                                    <div class="col col-xs-6 pull-left label-gutter-padding">
                                        <span class="inner-content-html" ng-bind-template="{{rec.name}}"></span>
                                    </div>
                                    <div class="col col-xs-6 pull-right">
                                        <div star-rating ng-model="rec.rating" max="5" on-rating-selected="rateFunction(rating,record,rec)"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>