<div class="recipe-review-deatils">
    <div class="container-fluid recipe-review-list" ng-click="itemSelected(record)">
        <div class="row">
            <div class="col col-xs-12">
                <h5 class="title-label-color" ng-bind="record.title"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-1">
                <img class="img-circle img-responsive" ng-src="{{record.file.fullImageThumbPath}}" fallback-src="images/receipe/avatar.png">
            </div>
            <div class="col col-xs-11">
                <div class="row">
                    <div class="col col-xs-6 review-username-label">
                        <span class="content-text-color" ng-bind="record.userName"></span>
                    </div>
                </div>
                <div class="row review-date-label">
                    <div class="col col-xs-1">
                        <span ng-bind-template="{{record.isUsefulCommentsCount}}"></span>
                    </div>
                    -
                    <div class="col col-xs-2">
                        <span>{{record.reviewCreationTime}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row review-comment-gutter-padding">
            <div class="col col-xs-12">
                <span class="content-text-color label-italic">{{record.reviewComments}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 icon-gutter-margin">
                <i class="fa fa-comment">{{record.commentsCount}}</i>
            </div>
            <div class="col-xs-1 icon-gutter-margin">
                <i class="fa fa-check-circle">{{record.isUsefulCommentsCount}}</i>
            </div>
            <div class="col-xs-4">
                <rating value="{{record.reviewRatings}}"></rating>
            </div>
            <div class="col-xs-2" ng-click="itemSelected(editDetailModelItem)" ng-if="record.isOwner">
                <i class="fa {{editDetailModelItem.iconClass}}">{{editDetailModelItem.name}}</i>
            </div>
            <div class="col-xs-2" ng-click="itemSelected(commentModelItem)">
                <i class="fa {{commentModelItem.iconClass}}">{{commentModelItem.name}}</i>
            </div>
        </div>
    </div>
    <!-- Comments -->
    <div class="row review-backdrop">
        <div class="vertical-align col col-xs-6 ">
            <span class="recipe-bold" ng-bind="wasthisHelpful"></span>
        </div>
        <div class="vertical-align col col-xs-2 ">
            <button class="centered primary-btn" ng-click="itemSelected(yesModelItem)">{{yesModelItem.name}}</button>
        </div>
        <div class="vertical-align col col-xs-2 ">
            <button class="centered primary-btn" ng-click="itemSelected(noModelItem)">{{noModelItem.name}}</button>
        </div>
    </div>
</div>
<div class="recipe-review-comments-list">
    <div class="row">
        <div class="col col-xs-12 app-sub-titles">Comments</div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="rec in record.comments">
            <div class="container-fluid allCusines-time">
                <div class="row">
                    <div class="col col-xs-1">
                        <img class="img-circle img-responsive" style="max-width: 2vw;" ng-src="{{rec.file.fullImageThumbPath}}" fallback-src="images/receipe/avatar.png">
                    </div>
                    <div class="col col-xs-6">
                        <div class="row">
                            <div class="col col-xs-12">
                            <!-- ng-bind-template="{{rec.userName}}" -->
                                <span class="title-label-color font-default">{{rec.userName}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-10">
                                <span class="content-text-color" ng-bind-template="{{rec.comments}}"></span>
                            </div>
                            <div class="col col-xs-1">
                                <div class="review-comment-icons" ng-click="itemSelected(editModelItem)" class="btn btn-navbar" ng-if="rec.isOwner">
                                    <i class="fa {{editModelItem.iconClass}} fa-navbar"></i>
                                </div>
                            </div>
                            <div class="col col-xs-1">
                                <div class="review-comment-icons" ng-click="itemSelected(deletecommentModelItem)" class="btn btn-navbar">
                                    <i class="fa {{deletecommentModelItem.iconClass}} fa-navbar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-2 font-light pull-right">
                        {{rec.differnce}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>