<div class="header-list advanced-review-header-list">
<header>
  <div class="navbar navbar-app navbar-secondary navbar-fixed-top navbar-absolute-top">
    <nav class="row">
      <div class="col-xs-12 btn-navbar-secondary secondary-title">ADVANCED REVIEW</div>
    </nav>
  </div>
</header>
<section class="scrollable scrollable-content advanced-review-section" ng-controller="ReviewController as ctrl">
  <div class="review-full-image">
    <image class="img-responsive" src="images/receipe/icon-recipes.png" />
    <div class="eateries-label">
      <div class="row">
        <div class="col col-xs-2">
          <img class="img-circle img-responsive" ng-src="{{record.file.fullImageThumbPath}}" fallback-src="images/receipe/avatar.png">
          </div>
        <div class="col col-xs-6 recipe-review-list-inner-items">
            <div class="row">
              <div class="col col-xs-12">
                <h5 class="title-label-color">{{ctrl.advanceReview.username}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col col-xs-12">
                <h6>{{ctrl.advanceReview.reviewTitleContent}}</h6>
              </div>
            </div>
        </div>
        <div class="col col-xs-4 advanced-review-rating">
          <rating value={{ctrl.advanceReview.overallRating}}></rating>
        </div>
      </div>
    </div>
    </image>
  </div>
  <div class="row">
    <label class="col col-xs-12 title-label-color font-default advanced-review-title">{{ctrl.advanceReview.title}}</label>
  </div>
  <div class="row">
    <div class="col col-xs-12 content-text-color inner-margin-gutter font-light advanced-review-date-label">{{ctrl.advanceReview.date}}</div>
  </div>
  <p class="col col-xs-12 content-text-color label-italic">{{ctrl.advanceReview.reviewContent}}</p>

  <button class="col col-xs-12 centered primary-btn" ng-click="ctrl.goBackHome()">Home</button>
</section>
</div>
<footer ng-include="'receipe/recipefooter.html'"></footer>
<div ui-content-for="modals">
  <div ng-include="'receipe/recipe-modal-socialShare.html'"></div>
  <div ng-include="'receipe/recipe-modal-success.html'"></div>
  <div ng-include="'receipe/recipe-modal-failure.html'"></div>
</div>