<div class="scrollable eatery-list" ng-controller="RecipesListController as recipeslistCtrl">

    <div class="scrollable-header foodee-navbar ">
        <div class="col-xs-12 secondary-top-tab-scroll">
            <ui-state id='activeTab' default='1'></ui-state>
            <ul class="nav nav-tabs tabbable">
                <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}" data-toggle="tab"
                       ng-click="recipeslistCtrl.recipesubMenuSelected('all')">All Recipes</a>
                </li>
                <li ui-class="{'active': activeTab == 2}" ng-if="recipeslistCtrl.loggedIn">
                    <a ui-set="{'activeTab': 2}" data-toggle="tab"
                       ng-click="recipeslistCtrl.recipesubMenuSelected('recommended')">Recommended</a>
                </li>
                <li ui-class="{'active': activeTab == 3}" ng-if="recipeslistCtrl.loggedIn">
                    <a ui-set="{'activeTab': 3}" data-toggle="tab"
                       ng-click="recipeslistCtrl.recipesubMenuSelected('favourite')">Favourite</a>
                </li>
                <li ui-set="{'activeTab': activeTab == 4}" ng-if="recipeslistCtrl.loggedIn">
                    <a ui-set="{'activeTab': 4}" data-toggle="tab" ng-click="recipeslistCtrl.recipesubMenuSelected('favourite')">My
                        Recipes</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="scrollable-content">
        <!-- <div class="firstrow">
        </div> -->
        <div ui-if="activeTab == 1" class="con">
            <!-- <h1 class="page-header">All Recipes</h1> -->
            <ul infinite-scroll="recipeslistCtrl.recipesList.nextPage()" infinite-scroll-container="'.eatery-list .scrollable-content'" infinite-scroll-disabled="recipesList.busy">
                <li ng-repeat="record in recipeslistCtrl.recipesList.items">
                    <div class="row">
                        <div class="col col-xs-6">
                            <img ng-src="{{record.thumbImagePath}}"
                                 fallback-src="images/recipe.png">
                        </div>


                        <div class="col col-xs-6 info-container">
                            <div class="eatery-name">
                                <a ng-href="#/recipes/{{record.id}}">
                                    <h4 class="name title-label-color" ng-bind="record.name"></h4>
                                </a>
                            </div>

                            <div class="eatery-author">
                                <span class="light-gray">by</span>
                                <span class="normal-gray">{{ record.author }}</span>
                            </div>
                            <div class="eatery-rating">
                                <rating value="{{record.overAllRating}}"></rating>
                            </div>
                        </div>
                    </div>
                </li>


                <li ng-show="recipeslistCtrl.recipesList.busy">
                    <ng-include src=" 'list-loader.html' "></ng-include>
                </li>
            </ul>
        </div>
        <div ui-if="activeTab == 2">
            <ul infinite-scroll="recipeslistCtrl.recipesList.nextPage()" infinite-scroll-container="'.eatery-list .scrollable-content'" infinite-scroll-disabled="recipesList.busy">
                <li ng-repeat="record in recipeslistCtrl.recipesList.items">
                    <div class="row">
                        <div class="col col-xs-6">
                            <img ng-src="{{record.thumbImagePath}}"
                                 fallback-src="images/recipe.png">
                        </div>


                        <div class="col col-xs-6 info-container">
                            <div class="eatery-name">
                                <a ng-href="#/eateries/{{record.id}}">
                                    <h4 class="name title-label-color" ng-bind="record.name"></h4>
                                </a>
                            </div>

                            <div class="eatery-author">
                                <span class="light-gray">by</span>
                                <span class="normal-gray">{{ record.author }}</span>
                            </div>
                            <div class="eatery-rating">
                                <rating value="{{record.overAllRating}}"></rating>
                            </div>
                        </div>
                    </div>
                </li>

                <li ng-show="recipeslistCtrl.recipesList.busy">
                    <ng-include src=" 'list-loader.html' "></ng-include>
                </li>
            </ul>
        </div>
        <div ui-if="activeTab == 3">
            <ul infinite-scroll="recipeslistCtrl.recipesList.nextPage()" infinite-scroll-container="'.eatery-list .scrollable-content'" infinite-scroll-disabled="recipesList.busy">
                <li ng-repeat="record in recipeslistCtrl.recipesList.items">
                    <div class="row">
                        <div class="col col-xs-6">
                            <img ng-src="{{record.thumbImagePath}}"
                                 fallback-src="images/recipe.png">
                        </div>


                        <div class="col col-xs-6 info-container">
                            <div class="eatery-name">
                                <a ng-href="#/eateries/{{record.id}}">
                                    <h4 class="name title-label-color" ng-bind="record.name"></h4>
                                </a>
                            </div>

                            <div class="eatery-author">
                                <span class="light-gray">by</span>
                                <span class="normal-gray">{{ record.author }}</span>
                            </div>
                            <div class="eatery-rating">
                                <rating value="{{record.overAllRating}}"></rating>
                            </div>
                        </div>
                    </div>
                </li>

                <li ng-show="recipeslistCtrl.recipesList.busy">
                    <ng-include src=" 'list-loader.html' "></ng-include>
                </li>
            </ul>
        </div>
        <div ui-if="activeTab == 4">
            <ul infinite-scroll="recipeslistCtrl.recipesList.nextPage()" infinite-scroll-container="'.eatery-list .scrollable-content'" infinite-scroll-disabled="recipesList.busy">
                <li ng-repeat="record in recipeslistCtrl.recipesList.items">
                    <div class="row">
                        <div class="col col-xs-6">
                            <img ng-src="{{record.thumbImagePath}}"
                                 fallback-src="images/recipe.png">
                        </div>


                        <div class="col col-xs-6 info-container">
                            <div class="eatery-name">
                                <a ng-href="#/eateries/{{record.id}}">
                                    <h4 class="name title-label-color" ng-bind="record.name"></h4>
                                </a>
                            </div>

                            <div class="eatery-author">
                                <span class="light-gray">by</span>
                                <span class="normal-gray">{{ record.author }}</span>
                            </div>
                            <div class="eatery-rating">
                                <rating value="{{record.overAllRating}}"></rating>
                            </div>
                        </div>
                    </div>
                </li>

                <li ng-show="recipeslistCtrl.recipesList.busy">
                    <ng-include src=" 'list-loader.html' "></ng-include>
                </li>
            </ul>
        </div>
    </div>
</div>

