<div class="modal" ui-if="modalusernotauthorized" ui-state='modalusernotauthorized' ng-controller="RecipeDetailController as receipeCtrl">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{"Feature is not available"}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-smile-o"></i>
                    </div>
                    <div class="col-xs-11">
                        <h4 class="modal-title">{{"Please activate your account"}}</h4>
                    </div>
                </div>
            </div>
             <div class="modal-footer">
                <button ui-turn-off="modalusernotauthorized" class="btn btn-default primary-btn">Close</button>
            </div>
        </div>
    </div>
</div>
