<div class="modal modal-failure" ui-if="modalFailure" ui-state='modalFailure' ng-controller="RecipeDetailController as receipeCtrl">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{"Failure"}}</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <i class="col col-xs-12 fa fa-frown-o"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">{{"Failure Transaction"}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="modalFailure" class="btn btn-default primary-btn">Close</button>
            </div>
            </div>
        </div>
    </div>