<div class="modal" ui-if="modalRating" ui-state='modalRating' ng-controller="RecipesRatingController as ctrl">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ui-turn-off="modalRating">×</button>
      </div>
      <h4 class="modal-title">Please rate before review</h4>
      <div class="modal-body">
      <!-- ctrl.averageRatingMenu.item[0].rating -->
        <div star-rating ng-model="4" max="5" on-rating-selected="rateFunction(rating,record,rec)"></div>
      </div>
      <div>
        <button class="centered primary-btn" ui-turn-off="modalRating" ng-click="ctrl.showModalReview()">Next</button>
      </div>
      <div class="btn-primary-link" ng-click="ctrl.goAdvancedRating()">Advance Rating</div>
    </div>
  </div>
</div>
