<section class="container review-body">
    <header>
        <div class="navbar navbar-app navbar-secondary navbar-fixed-top navbar-absolute-top">
            <nav class="btn-group justified">
                <div class="btn btn-navbar-secondary secondary-title">Review</div>
            </nav>
        </div>
    </header>
    <!-- <section> -->
    <div class="scrollable-content">
        <div class="secondary-navbar-gutter-margin">
            <form name="testForm">
                <textarea class="form-control" rows="3" ng-model="rvCtrl.review.body" name="reviewbody" ng-required="true" placeholder="Please write at least 140 characters about your personal experience at this eatery." ng-minlength=140>
                </textarea>
            </form>
            <div class="row">
                <img ng-src="{{rvCtrl.review.thumbImagePath}}" id="review-image" fallback-src="images/blog.png" alt="Main Photo" class="img-thumbnail" ng-if="rvCtrl.review.thumbImagePath" />
            </div>
    </div>
</section>
<!-- navbar-fixed-bottom -->
<div class="navbar navbar-app footer navbar-fixed-bottom navbar-absolute-bottom btn-toolbar home-viewlist-footer">
    <nav class="btn-group justified">
      <label  class="btn btn-navbar" ng-click="rvCtrl.takePicture()">
        <i class="fa fa-upload fa-navbar">
          <div>Upload</div>
        </i>
      </label>
      <label  class="btn btn-navbar" ng-click="rvCtrl.submitReview()">
        <i class="fa fa-share fa-navbar">
          <div>Submit</div>
        </i>
      </label>
    </nav>
  </div> 