<div class="container-fluid allCusines">
    <div class="rows">
        <div class="col-xs-2">
            <img class="img-responsive yummyicon" src="images/receipe/Yummy.png"> </img>
        </div>
        <div class="col-xs-8">
        </div>
        <div class="col-xs-2">
            <img class="img-responsive favoriteicon" src="images/receipe/favourite.png"> </img>
        </div>
    </div>
    <div class="rows">
        <div class="col-xs-2">
            <span class="badge" ng-bind-template="{{data.yummyCount}}"></span>
        </div>
        <div class="col-xs-8">
        </div>
        <div class="col-xs-2">
            <span class="badge" ng-bind-template="{{data.favouriteCount}}"></span>
        </div>
    </div>
</div>
   



